<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-6.1.xsd">

  <http entry-point-ref="customEntryPoint">
    <!-- The order of intercept-urls matters. Order them from more specific to more
      general within the same url. Ej: /api/v1/admin/kamehouse/** before /api/v1/admin/** -->

    <!-- When updating the roles here also update them in DragonBallUserServlet -->
    <intercept-url pattern="/api/v1/test-module/dragonball/**" access="permitAll"
                   method="GET" />
    <intercept-url pattern="/api/v1/test-module/dragonball/**" access="hasRole('ROLE_SAIYAJIN')"
                   method="POST" />
    <intercept-url pattern="/api/v1/test-module/dragonball/**" access="hasRole('ROLE_SAIYAJIN')"
                   method="PUT" />
    <intercept-url pattern="/api/v1/test-module/dragonball/**" access="hasRole('ROLE_SAIYAJIN')"
                   method="DELETE" />

    <intercept-url pattern="/api/v1/test-module/test-scheduler/**" access="permitAll"
      method="GET" />
    <intercept-url pattern="/api/v1/test-module/test-scheduler/**" access="permitAll"
      method="POST" />
    <intercept-url pattern="/api/v1/test-module/test-scheduler/**" access="permitAll"
      method="DELETE" />

    <intercept-url pattern="/api/ws/test-module/websocket/**" access="permitAll"/>

    <!-- ======================================================================================= -->
    <!-- Commons configuration. Everything from here downwards should be the same in all modules -->
    <!-- ======================================================================================= -->
    <intercept-url pattern="/api/v1/commons/module/status" access="permitAll" method="GET" />

    <intercept-url pattern="/api/v1/commons/**" access="hasRole('ROLE_KAMISAMA')" method="GET" />
    <intercept-url pattern="/api/v1/commons/**" access="hasRole('ROLE_KAMISAMA')" method="POST" />
    <intercept-url pattern="/api/v1/commons/**" access="hasRole('ROLE_KAMISAMA')" method="PUT" />
    <intercept-url pattern="/api/v1/commons/**" access="hasRole('ROLE_KAMISAMA')" method="DELETE" />

    <http-basic />
    <csrf disabled="true" />
  </http>

  <authentication-manager>
    <authentication-provider ref="kameHouseAuthenticationProvider" />
  </authentication-manager>

</beans:beans>