.num-rows-dropdown {
  border: 1px solid #292929;
  border-radius: 0px;
  color: #5e5e5e;
  background: #101010;
  padding: 5px;
  text-align: right;
}

.num-rows-dropdown-td {
  max-width: 30px;
  padding: 10px;
  text-align: right;
}

@media (max-width : 900px) {
  .num-rows-dropdown-td {
    max-width: 60px;
  } 
}

.scroll-up-td {
  max-width: 20px;
  padding: 10px;
  text-align: right;
}

@media (max-width : 900px) {
  .scroll-up-td {
    max-width: 30px;
  } 
}