.debugger-http-client  {
  background-color: #12181a;
  margin-bottom: 0;
}

.debugger-http-client-header {
  background-color: #2c0000;
}

/** Collapsible content. Begin.*/
.collapsible-kh {
  background-color: #2c0000;
  color: #c0c0c0;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 0px;
} 

.collapsible-kh:after {
  content: '\002B';
  color: #c0c0c0;
  font-weight: bold;
  float: right;
  margin-left: 5px;
} 

.collapsible-kh-active, .collapsible-kh:hover {
  background-color: #570101;
} 

.collapsible-kh-active:after {
  content: "\2212";
} 

.collapsible-kh-content {
  background-color: #12181a;
  border:1px solid #414141;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 

.collapsible-kh-content-pre {
  color: #c0c0c0;
  text-align: left;
}
/** Collapsible content. End.*/