.debug-mode-btn {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width : 900px) {
  .debug-mode-btn {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* Add this class to debug-mode-button-wrapper span to hide the debug mode button but still allow it to be clickable */
.debug-mode-btn-hidden {
  opacity: 0;
}

#debug-mode-console-log-entries {
  text-align: left;
  background-color: #000000;
  border: 3px solid #343434;
  padding: 3px;
  height: 480px;
  overflow: hidden;
}

@media (max-width : 900px) {
  #debug-mode-console-log-entries {
    height: 580px;
  }
}

.debugger-http-client  {
  margin-bottom: 0;
}

.debugger-http-client-collapsible {
  background-color: #12181a;
  border:1px solid #414141;
  padding: 0 18px;
  color: #c0c0c0;
  text-align: left;
}
