# kamehouse-snape configuration

[upload_kamehouse_mobile_to_gdrive]
## target_folder_id: last string of the url when you see the folder in google drive
#target_folder_id =  
#apk_path = 
#apk_filename = 
#credentials_path = 
#token_path = 
