/**
  * banners batcave
  */
.banner-batman-animated {
  background: url(/kame-house/img/banners/batcave/banner-batman-animated.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-animated {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-animated {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batcave-bw {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batcave-bw.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batcave-bw {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batcave-bw {
    background-position-x: -40px;
  }
}

.banner-batman-animated-batcave-01 {
  background: url(/kame-house/img/banners/batcave/banner-batman-animated-batcave-01.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-animated-batcave-01 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-animated-batcave-01 {
    background-position-x: -40px;
  }
}

.banner-batman-forever-batcave-02 {
  background: url(/kame-house/img/banners/batcave/banner-batman-forever-batcave-02.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-forever-batcave-02 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-animated {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batcave-01 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batcave-01.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batcave-01 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batcave-01 {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batmobile-01 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batmobile-01.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batmobile-01 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batmobile-01 {
    background-position-x: -40px;
  }
}

.banner-batman-animated-batcave-02 {
  background: url(/kame-house/img/banners/batcave/banner-batman-animated-batcave-02.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-animated-batcave-02 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-animated-batcave-02 {
    background-position-x: -40px;
  }
}

.banner-batman-forever-batcave-03 {
  background: url(/kame-house/img/banners/batcave/banner-batman-forever-batcave-03.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-forever-batcave-03 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-forever-batcave-03 {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batcave-02 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batcave-02.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batcave-02 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batcave-02 {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batmobile-02 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batmobile-02.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batmobile-02 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batmobile-02 {
    background-position-x: -40px;
  }
}

.banner-batman-animated-batcave-03 {
  background: url(/kame-house/img/banners/batcave/banner-batman-animated-batcave-03.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-animated-batcave-03 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-animated-batcave-03 {
    background-position-x: -40px;
  }
}

.banner-batman-n-robin-batcave-01 {
  background: url(/kame-house/img/banners/batcave/banner-batman-n-robin-batcave-01.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-n-robin-batcave-01 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-n-robin-batcave-01 {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batcave-03 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batcave-03.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batcave-03 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batcave-03 {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batsignal-01 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batsignal-01.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batsignal-01 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batsignal-01 {
    background-position-x: -40px;
  }
}

.banner-batman-animated-batcave-04 {
  background: url(/kame-house/img/banners/batcave/banner-batman-animated-batcave-04.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-animated-batcave-04 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-animated-batcave-04 {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batcave-04 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batcave-04.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batcave-04 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batcave-04 {
    background-position-x: -40px;
  }
}

.banner-batman-1989-batsignal-02 {
  background: url(/kame-house/img/banners/batcave/banner-batman-1989-batsignal-02.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-1989-batsignal-02 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-1989-batsignal-02 {
    background-position-x: -40px;
  }
}

.banner-batman-forever-batcave-01 {
  background: url(/kame-house/img/banners/batcave/banner-batman-forever-batcave-01.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-batman-forever-batcave-01 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-batman-forever-batcave-01 {
    background-position-x: -40px;
  }
}
