.android-app-link {
  color: #969696;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
}

.android-app-link:link {
  color: #969696;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
}

.android-app-link.active {
  background-color: #500000;
  color: #cccccc;
  text-decoration: none;
}

.android-app-link:hover {
  background-color: #222222;
  color: #dbdbdb;
  border: 1px solid #4b4b4b;
  text-decoration: none;
}

.android-app-link:visited { 
  text-decoration: none; 
}

.android-app-link-text {
  padding-left: 10px;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #c0c0c0;
	background: #000000;
	text-align: center;
	/** Creates the illusion of the footer extending to the bottom of the screen */
  box-shadow: 0 50vh 0 50vh #000000;
}

.footer-img {
  height: 25px;
  width: 25px;
}