# -----------------------------------------------------------------------------
# KameHouse config file 
# -----------------------------------------------------------------------------

# This file is used at build and runtime to set some properties/configuration in kamehouse
# The default values can be found in conf/default-kamehouse.cfg

# -----------------------------------------------------------------------------
# kamehouse-admin
# -----------------------------------------------------------------------------

# Set the properties to send a wol package from the admin page to the media server
#   - MAC: mac address of the media server
#   - BROADCAST: broadcast address of the network of the media server
#MEDIA_SERVER_MAC=""
#MEDIA_SERVER_BROADCAST=""

# -----------------------------------------------------------------------------
# kamehouse-media
# -----------------------------------------------------------------------------

# Set the playlists path used by media module to render playlists in vlc
# Set the value manually or use one of the preconfigured values
#   - Path is relative to kamehouse user's home
#   - kamehouse-media will load all the playlists in all subfolders of this path
#PLAYLISTS_PATH="${PLAYLISTS_PATH_LINUX}"
#PLAYLISTS_PATH="${PLAYLISTS_PATH_STREAMING_HTTP_LAN}"
#PLAYLISTS_PATH="${PLAYLISTS_PATH_STREAMING_HTTP_WAN}"
#PLAYLISTS_PATH="${PLAYLISTS_PATH_STREAMING_SFTP_LAN}"
#PLAYLISTS_PATH="${PLAYLISTS_PATH_STREAMING_SFTP_WAN}"
#PLAYLISTS_PATH="${PLAYLISTS_PATH_WINDOWS}"
#PLAYLISTS_PATH="${PLAYLISTS_PATH_KAMEHOUSE}"
#PLAYLISTS_PATH=""

# -----------------------------------------------------------------------------
# kamehouse-mobile
# -----------------------------------------------------------------------------

# Set the default selected backend on factory defaults of the mobile app
# The name here must match one of the server names configured in MOBILE_BACKEND_SERVERS
#MOBILE_BACKEND_SELECTED_SERVER=""

# Set the backend kamehouse servers to be connected to by the mobile app
#   - Add all your servers running a kamehouse instance that can be connected to from the mobile app
#   - Remove extra spaces at the end of each line
#   - Format: [serverName],[url],[skipSslCheck],[username],[password],[isLoggedIn],[isUrlEditable]
#       - [serverName]: name of the server to be displayed in the mobile app ui
#       - [url]: http/https url of the server running a kamehouse instance
#       - [skipSslCheck]: true to skip ssl checks when connecting to the server
#       - [username]: factory default kamehouse username
#       - [password]: factory default kamehouse password
#       - [isLoggedIn]: true if the user is marked as logged in. should be always false here
#       - [isUrlEditable]: true if the user is allowed to edit the server url in the mobile app
#MOBILE_BACKEND_SERVERS="
#serverName,url,true,user,pass,isLoggedIn,isUrlEditable
#serverName,url,true,user,pass,isLoggedIn,isUrlEditable
#"

# Set the properties to deploy kamehouse mobile APK to an httpd server
#   - SERVER: ip/hostname of the server that will host the mobile apk for downloads
#   - USER: sftp username used to upload the apk to the http server
#   - PATH: path to upload the apk to in the server that will host the apk
#KAMEHOUSE_MOBILE_APP_SERVER=""
#KAMEHOUSE_MOBILE_APP_USER=""
#KAMEHOUSE_MOBILE_APP_PATH=""

# Set the properties to upload kamehouse mobile APK to google drive
#   - GDRIVE_PATH_WIN: google drive path on a windows server
#   - GDRIVE_PATH_LIN: google drive path on a linux server
#KAMEHOUSE_MOBILE_GDRIVE_PATH_WIN=""
#KAMEHOUSE_MOBILE_GDRIVE_PATH_LIN=""

# Set the properties to upload kamehouse mobile APK to an android device via sftp
#   - IP: ip/hostname of the android device
#   - PORT: sftp port running on the android device
#   - USER: sftp username used to upload the APK
#   - PATH: path in the android device's filesystem to upload the APK to
#ANDROID_IP=""
#ANDROID_PORT=""
#ANDROID_SFTP_USER=""
#ANDROID_APK_DEST_PATH=""

# -----------------------------------------------------------------------------
# kamehouse-shell
# -----------------------------------------------------------------------------

# Display kamehouse server's list in some help menus
#KAMEHOUSE_SERVERS_LIST=""

# Set the kamehouse server configurations used in scripts like exec in all servers
#   - Add all your servers running a kamehouse instance 
#   - Remove extra spaces at the end of each line
#   - Format: [hostname/ip],[username],[port],[isHttps],[useDockerDemoCredentials],[isDockerContainer],[isLinuxHost]
#       - [hostname/ip]: of the server running kamehouse or the ip of the host if it's a docker instance
#       - [username]: kamehouse username
#       - [port]: http/https port where kamehouse api's are exposed
#       - [isHttps]: true if it should connect using https, false for http
#       - [useDockerDemoCredentials]: true if it should authenticate with docker demo credentials
#       - [isDockerContainer]: true if the kamehouse instance is running on a docker container
#       - [isLinuxHost]: true if the kamehouse instance is running on linux. for docker containers set to true
#KAMEHOUSE_SERVER_CONFIGS="
#hostname/ip,username,port,isHttps,useDockerDemoCredentials,isDockerContainer,isLinuxHost
#hostname/ip,username,port,isHttps,useDockerDemoCredentials,isDockerContainer,isLinuxHost
#"

# Set the kamehouse startup service properties. this service can be excuted on linux servers only
#   - START_TOMCAT: true to start tomcat on boot
#KAMEHOUSE_STARTUP_START_TOMCAT=

# Set the properties of the host that will be controlled by kamehouse docker containers running on the current server
#   - AUTH: basic auth header to send requests to the host via groot
#   - IP: ip of the host to control
#   - HOSTNAME: hostname of the host to control
#   - USERNAME: username in the host to ssh with
#   - OS: os of the host to control (windows|linux)
#   - PORT: port to send the https request to
# The DOCKER_HOST_* variables in this files are NOT used inside the docker container
# They are used by scripts executed in the host
# These variables are persisted inside the container to ${HOME}/.kamehouse/.kamehouse-docker-container-env at container startup
# Inside the container, the scripts and webapps that use these variables take the value from ${HOME}/.kamehouse/.kamehouse-docker-container-env. Not from this kamehouse.cfg file even if it's synced to the container
#DOCKER_HOST_AUTH=""
#DOCKER_HOST_IP=""
#DOCKER_HOST_HOSTNAME=""
#DOCKER_HOST_USERNAME=""
#DOCKER_HOST_OS=""
#DOCKER_HOST_PORT=""
