/* Loading wheel modal */
.loading-wheel-modal {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.loading-wheel-modal-content {
  text-align: center;
  background-color: #13181b;
  margin: auto;
  padding: 20px;
  border: 1px solid #890b0b;
  border-radius: 0;
  width: 40%;
}

.loading-wheel-modal-spinner {
  margin: auto;
  border: 6px solid #525252;
  border-radius: 50%;
  border-top: 6px solid #5e0808;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
