<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/cache
http://www.springframework.org/schema/cache/spring-cache.xsd">

  <!-- Root Application Context for the entire web application -->
  <context:property-placeholder
    location="classpath:application.properties,classpath:jdbc.properties,classpath:hibernate.properties" />
  <import resource="applicationContext-persistence.xml" />
  <import resource="spring-security.xml" />

  <!-- Ehcache configuration -->
  <cache:annotation-driven />

  <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
    <property name="cacheManager" ref="ehcache" />
  </bean>

  <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    <property name="configLocation" value="classpath:ehcache.xml" />
    <property name="shared" value="true" />
  </bean>

  <bean id="ehCacheService" class="com.nicobrest.kamehouse.service.EhCacheService">
    <property name="cacheManager" ref="cacheManager" />
  </bean>

  <!-- Enable access to specific beans from JSP pages using ${beanName} -->
  <bean
    class="org.springframework.web.context.support.ServletContextAttributeExporter">
    <property name="attributes">
      <map>
        <entry key="dragonBallUserService">
          <ref bean="dragonBallUserService" />
        </entry>
      </map>
    </property>
  </bean>

  <!-- vlc-rc beans -->
  <bean id="vlcRcService" class="com.nicobrest.kamehouse.vlcrc.service.VlcRcService">
    <property name="vlcPlayer" ref="vlcPlayer" />
  </bean>

  <bean id="vlcPlayer" class="com.nicobrest.kamehouse.vlcrc.model.VlcPlayer">
    <property name="hostname" value="${vlc.player.hostname}" />
    <property name="port" value="${vlc.player.port}" />
    <property name="username" value="${vlc.player.username}" />
    <property name="password" value="${vlc.player.password}" />
  </bean>

  <!-- Example endpoints beans -->
  <bean id="dragonBallUserService" class="com.nicobrest.kamehouse.service.DragonBallUserService">
    <property name="dragonBallUserDao" ref="dragonBallUserDaoJpa" />
  </bean>

  <bean id="dragonBallUserDaoJpa" class="com.nicobrest.kamehouse.dao.DragonBallUserDaoJpa">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>

  <bean id="dragonBallUserDaoInMemory" class="com.nicobrest.kamehouse.dao.DragonBallUserDaoInMemory">
    <property name="gohanDragonBallUser" ref="gohanDragonBallUser" />
    <property name="gotenDragonBallUser" ref="gotenDragonBallUser" />
  </bean>

  <bean id="gohanDragonBallUser" class="com.nicobrest.kamehouse.model.DragonBallUser">
    <property name="id" value="1001" />
    <property name="username" value="gohanBean" />
    <property name="email" value="gohanBean@dbz.com" />
    <property name="age" value="20" />
    <property name="powerLevel" value="20" />
    <property name="stamina" value="1000" />
  </bean>

  <bean id="gotenDragonBallUser" class="com.nicobrest.kamehouse.model.DragonBallUser">
    <property name="id" value="1002" />
    <property name="username" value="gotenBean" />
    <property name="email" value="gotenBean@dbz.com" />
    <property name="age" value="10" />
    <property name="powerLevel" value="10" />
    <property name="stamina" value="1000" />
  </bean>

</beans>