<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</Pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="consoleAppender" />
  </root>
  
  <logger name="com.nicobrest.baseapp" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="consoleAppender" />
  </logger>

  <!-- spring packages -->
  <logger name="org.springframework" additivity="false">
    <level value="WARN" />
    <appender-ref ref="consoleAppender" />
  </logger>

  <logger name="org.springframework.security" additivity="false">
    <level value="WARN" />
    <appender-ref ref="consoleAppender" />
  </logger>

  <logger name="org.springframework.web.socket.config.WebSocketMessageBrokerStats" additivity="false">
    <level value="WARN" />
    <appender-ref ref="consoleAppender" />
  </logger>

  <!-- hibernate packages -->
  <logger name="org.hibernate" additivity="false">
    <level value="WARN" />
    <appender-ref ref="consoleAppender" />
  </logger>
  
  <logger name="org.hibernate.hql.internal.QueryTranslatorFactoryInitiator" additivity="false">
    <level value="WARN" />
    <appender-ref ref="consoleAppender" />
  </logger>
  
  <logger name="org.hsqldb" additivity="false">
    <level value="WARN" />
    <appender-ref ref="consoleAppender" />
  </logger>
</configuration>