.username.ng-valid {
  border: 2px solid #154921;
}

.username.ng-dirty.ng-invalid-required {
  border: 2px solid #771010;
}

.username.ng-dirty.ng-invalid-minlength {
  border: 2px solid #808001;
}

.email.ng-valid {
  border: 2px solid #154921;
}

.email.ng-dirty.ng-invalid-required {
  border: 2px solid #771010;
}

.email.ng-dirty.ng-invalid-email {
  border: 2px solid #808001;
}
