/* order of a:state is important */
/** a href begin */
a {
  color: #ea0000;
}
a:link {
  color: #ea0000;
}
a:visited {
  color: #ea0000;
}
a:hover {
  color: #4a90e2;
}
a:active {
  color: #175192;
}
/** a href end */

/** all-my-scripts-table-controls begin */
.all-my-scripts-table-controls-table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .all-my-scripts-table-controls-table {
    display: block;
  }
}
/** all-my-scripts-table-controls end */

/** all-my-scripts-table-wrapper begin*/
/** Set scrollbar style FIREFOX */
#all-my-scripts-table-wrapper {
  scrollbar-color: #ea0000 #171e22 !important;
  scrollbar-width: thin !important;
}

/** Set scrollbar style CHROME */
#all-my-scripts-wrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

@media(max-width: 900px) {
  #all-my-scripts-table-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

#all-my-scripts-table-wrapper::-webkit-scrollbar-track {
  background: #171e22;
}

#all-my-scripts-table-wrapper::-webkit-scrollbar-thumb {
  background: #ea0000;
}

#all-my-scripts-table-wrapper::-webkit-scrollbar-corner {
  background: #171e22;
}
/** all-my-scripts-table-wrapper end*/

#banner-script-status {
  font-size: 20px;
}

/** my-scripts controls table button begin */
.btn-my-scripts-controls {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: scale(0.9);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width : 900px) {
  .btn-my-scripts-controls {
    transform: scale(1);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .btn-my-scripts-controls:active {
    border: 1px solid #181818;
    border-radius: 50%;
    background-color: #181818;
  }
}

/** MIN WIDTH media query: Only do for desktop, without afecting mobile. I usually use queries 
 * to override the default behaviour I set on desktop. In this case, I was doing that and
 * it caused a bug because I had to force mobile to scale to 1 and brightness 1 and that
 * overrode the .media-button-pressed css, removing the effect of pressed buttons */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .btn-my-scripts-controls:hover {
    transform: scale(1.3);
  }
}
/** my-scripts controls table button end */

/** frequent-scripts-table-wrapper begin*/
#frequent-scripts-table-wrapper {
  max-height: none;
}

@media (max-width: 900px) {
  #frequent-scripts-table-wrapper {
    max-height: none;
  }
}

/** Set scrollbar style FIREFOX */
#frequent-scripts-table-wrapper {
  scrollbar-color: #ea0000 #171e22 !important;
  scrollbar-width: thin !important;
}

/** Set scrollbar style CHROME */
#frequent-scripts-table-wrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

@media(max-width: 900px) {
  #frequent-scripts-table-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

#frequent-scripts-table-wrapper::-webkit-scrollbar-track {
  background: #171e22;
}

#frequent-scripts-table-wrapper::-webkit-scrollbar-thumb {
  background: #ea0000;
}

#frequent-scripts-table-wrapper::-webkit-scrollbar-corner {
  background: #171e22;
}
/** frequent-scripts-table-wrapper end*/

/** Images used as buttons such as to start a script, reload something, download script output, etc */
.img-btn-groot-app {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .img-btn-groot-app {
    transform: scale(1);
  }

  .img-btn-groot-app:active {
    border: 1px solid #181818;
    border-radius: 50%;
    background-color: #181818;
  }
}

/** MIN WIDTH media query: Only do for desktop, without afecting mobile. I usually use queries 
 * to override the default behaviour I set on desktop. In this case, I was doing that and
 * it caused a bug because I had to force mobile to scale to 1 and brightness 1 and that
 * overrode the .media-button-pressed css, removing the effect of pressed buttons */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .img-btn-groot-app:hover {
    transform: scale(1.3);
  }
}

.img-tomcat-manager-status {
  width: 22px;
  height: 22px;
  margin-top: 5px;
}

/** GRoot menu nav begin */
.groot-nav {
  overflow: hidden;
}

.groot-nav-wrapper {
  overflow: hidden;
  border-bottom: #4d0000 3px solid;
}

.groot-nav a {
  float: left;
  display: block;
  color: #969696;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
}

.groot-nav a.active {
  background-color: #101517;
  color: #bbbbbb;
}

.groot-nav a:hover {
  background-color: #b50000;
  color: black;
}

.groot-nav .icon {
  display: none;
}

.groot-nav .highlight {
  color: #d90000;
  font-weight: bold;
}

@media (max-width : 900px) {

  .groot-nav .default-layout {
    padding: 0px;
    width: 100%;
    display: block;
  }

  .groot-nav a:nth-child(n+4) {
    display: none;
  }

  .groot-nav a.icon {
    float: right;
    display: block;
  }

  .groot-nav.responsive {
    position: relative;
  }
  
  .groot-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .groot-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/** groot menu nav end */

/** my-scripts-table begin */
.my-scripts-table {
  color: #868686;
  width: 100%;
}

@media (max-width: 900px) {
  .my-scripts-table {
    display: block;
  }
}

.my-scripts-wrapper {
  padding: 10px;
  background: #171e22;
  max-height: 500px;
  overflow: scroll;
}

@media (max-width: 900px) {
  .my-scripts-wrapper {
    max-height: 380px;
    overflow: scroll;
  }
}
/** my-scripts-table end */

/** my-scripts table btn begin*/
.my-scripts-table-btn {
  font-weight: 400;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ea0000;
  text-decoration: none;
}

.my-scripts-table-btn:hover {
  background-color: #ea0000;
  color: #c0c0c0;
  font-size: bold;
}
/** my-scripts table btn end*/

#number-of-lines {
  display: inline;
}

@media (max-width : 900px) {
  #number-of-lines {
    display: block;
    margin-top: 10px;
  }
}

/* tabs (used for example in groot server-manager) */
.tab-groot-content {
  display: none;
  border-top: none;
}

.tabs-groot {
  overflow: hidden;
  border-bottom: #272727 3px solid;
}

.tabs-groot button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  color: #c0c0c0;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

@media (max-width : 900px) {
  .tabs-groot button {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 50px;
  }
}

.tabs-groot button:hover {
  background-color: #4b0b0b;
  color: #e6e6e6;
}

.tabs-groot button.active {
  background-color: #101517;
  color: #dfdfdf;
}

/** table-filter-input begin */
.table-filter-input {
  border: 1px solid #131a1f;
  border-radius: 0px;
  color: #868686;
  background: #1a242a;
  padding: 5px;
  width: 100%;
  margin-left: 10px;
}
/** table-filter-input end */

/** tail-logs-table-wrapper begin*/
#tail-logs-table-wrapper {
  max-height: none;
}

@media (max-width: 900px) {
  #tail-logs-table-wrapper {
    max-height: none;
  }
}

/** Set scrollbar style FIREFOX */
#tail-logs-table-wrapper {
  scrollbar-color: #ea0000 #171e22 !important;
  scrollbar-width: thin !important;
}

/** Set scrollbar style CHROME */
#tail-logs-table-wrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

@media(max-width: 900px) {
  #tail-logs-table-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

#tail-logs-table-wrapper::-webkit-scrollbar-track {
  background: #171e22;
}

#tail-logs-table-wrapper::-webkit-scrollbar-thumb {
  background: #ea0000;
}

#tail-logs-table-wrapper::-webkit-scrollbar-corner {
  background: #171e22;
}
/** tail-logs-table-wrapper end*/

.tomcat-modules-table-path {
  min-width: 210px;
}

.tomcat-modules-table-build-date {
  min-width: 270px;
}

.tomcat-modules-table-controls {
  min-width: 100px;
}

.tomcat-modules-table-deployment {
  min-width: 160px;
}

.tomcat-process-console-output {
  background-color: #12191d;
  color: #686868;
}