.main-boxes-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .main-boxes-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.whats-groot-image-info-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .whats-groot-image-info-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.more-on-apis-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .more-on-apis-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.external-links-1-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .external-links-1-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.external-links-2-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .external-links-2-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.groot-functionality-list-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .groot-functionality-list-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.link-image-table-wrapper-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .link-image-table-wrapper-80 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
