@import url('error-banner.css');

body {
  font-family: 'varela_roundregular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: #000000;
  color: #c0c0c0;
  word-wrap: break-word;
}

.bold-kh {
  font-weight: bold;
}

.default-layout {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

@media (max-width : 900px) {
  .default-layout {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .default-layout h3 {
    padding-left: 10px;
  }
}

.fade-04o-10s {
  animation: fade-04 10s infinite linear;
}

@keyframes fade-04 {
  0% {
    opacity: 1;
    transform: scale(1.1);
  }
  
  50% {
    opacity: 0.4;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}