.status-box {
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  display: table;
  border: 3px solid #2a2a2a;
  border-radius: 0px;
  border-collapse: initial;
  background-color: #0c1012;
  color: #686868;
  width: 70%;
  text-align: center;
}