@import url('kamehouse-banners-captain-tsubasa.css');
@import url('kamehouse-banners-dc.css');
@import url('kamehouse-banners-dragonball.css');
@import url('kamehouse-banners-game-of-thrones.css');
@import url('kamehouse-banners-marvel.css');
@import url('kamehouse-banners-prince-of-tennis.css');
@import url('kamehouse-banners-saint-seiya.css');
@import url('kamehouse-banners-star-wars.css');
@import url('kamehouse-banners-tennis.css');
@import url('kamehouse-banners-world-cup-2022.css');

#banner {
  min-height: 600px;
  text-align: center;
  color: #141414;
  font-weight: bold;
  text-shadow: -2px 0px 20px #ffffff, 0px 2px 20px #ffffff, 2px 0px 20px #ffffff, 0px -2px 20px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (max-width : 900px) {
  #banner {
    min-height: 400px;
  }
}

#banner h1 {
  font-size: 55px;
  margin-top: 250px;
  margin-bottom: 10px;
}

@media (max-width : 900px) {
  #banner h1 {
    font-size: 40px;
    margin-top: 0px;
  }
}

#banner p {
  font-size: 20px;
}

@media (max-width : 900px) {
  #banner p {
    font-size: 20px;
  }
}

@media (max-width : 900px) {
  .banner-text {
    padding-top: 70px;
  }
}

#banner-server-name {
  font-size: 30px;
}

.banner-wrapper {
  overflow: hidden;
  background-color: black;
}
