<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nicobrest.kamehouse" version="8.04.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KameHouse</name>
    <description>KameHouse Mobile App</description>
    <author email="brest.nico@gmail.com" href="https://www.nicobrest.com">nbrest</author>
    <content src="/kame-house/index.html" />
    <access origin="*"/>
    <allow-navigation href="http://niko-server/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="*" />

    <platform name="android">
      <preference name="ErrorUrl" value="https://localhost/error-not-found.html" />
      <preference name="LoadingDialog" value="Loading KameHouse Mobile,Loading KameHouse Mobile" />
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
      </edit-config>
      <icon src="www/kame-house/img/dbz/kamesenin-logo.png" density="ldpi" />
      <icon src="www/kame-house/img/dbz/kamesenin-logo.png" density="mdpi" />
      <icon src="www/kame-house/img/dbz/kamesenin-logo.png" density="hdpi" />
      <icon src="www/kame-house/img/dbz/kamesenin-logo.png" density="xhdpi" />
      <icon src="www/kame-house/img/dbz/kamesenin-logo.png" density="xxhdpi" />
      <icon src="www/kame-house/img/dbz/kamesenin-logo.png" density="xxxhdpi" />
    </platform>
</widget>
