.table-db-users-actions {
  min-width: 120px;
}

.form-db-users-angular {
  background-color:#1e0101;
  border: 1px solid #525252;
}

.form-db-users-angular input {
  background:#000000; 
}

.form-db-users-angular input[type="image"] {
  background: none;
}
