.dragonball-users-edit-form {
  margin-left: 30px;
  margin-right: 30px;
}

.dragonball-user-form-buttons {
  margin-left: 15px;
}

.table-db-users {
  background: #171717;
  margin-bottom: 5px;
}

.table-db-users tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.table-db-users-header {
  background-color: #2c0000;
  font-weight: bold;
  text-align: center;
}

.table-db-users-actions {
  min-width: 120px;
}
