# kamehouse.cfg defaults

## admin
MEDIA_SERVER_MAC="8C:04:BA:A6:F2:B1"
MEDIA_SERVER_BROADCAST="192.168.0.255"

## media
PLAYLISTS_PATH=".kamehouse/data/playlists"

## mobile
MOBILE_BACKEND_SELECTED_SERVER="kamehouse-pegasus"

MOBILE_BACKEND_SERVERS="
kamehouse-pegasus,https://192.168.0.129,true,seiya,ikki,false,false
kamehouse-ztv-ssj1,https://192.168.0.130,true,seiya,ikki,false,false
kamehouse-r2d2,https://192.168.0.109,true,seiya,ikki,false,false
kamehouse-watchtower,https://192.168.0.108,true,seiya,ikki,false,false
kamehouse-thor,https://192.168.0.107,true,seiya,ikki,false,false
kamehouse-cc-win,https://192.168.0.100,true,seiya,ikki,false,false
kamehouse-cc-lin,https://192.168.0.101,true,seiya,ikki,false,false
docker-demo.nicobrest.com,https://docker-demo.nicobrest.com,false,seiya,ikki,false,false
www.nicobrest.com,https://www.nicobrest.com,false,seiya,ikki,false,false
kame.nicobrest.com,https://kame.nicobrest.com,false,seiya,ikki,false,false
Mock Localhost,https://localhost,true,seiya,ikki,false,false
Dev Httpd,https://192.168.0.100:9949,true,seiya,ikki,false,true
Dev Tomcat,http://192.168.0.100:9980,true,seiya,ikki,false,true
WiFi Hotspot,https://192.168.43.171,true,seiya,ikki,false,true
Custom Server,https://0.0.0.0,true,seiya,ikki,false,true
"

KAMEHOUSE_MOBILE_APP_SERVER="192.168.0.129"
KAMEHOUSE_MOBILE_APP_USER="pi"
KAMEHOUSE_MOBILE_APP_PATH="/var/www/kamehouse-webserver/kame-house-mobile"

KAMEHOUSE_MOBILE_GDRIVE_PATH_WIN="/d/Downloads/Google Drive/KameHouse/kamehouse-mobile"
KAMEHOUSE_MOBILE_GDRIVE_PATH_LIN="${HOME}/GoogleDrive/KameHouse/kamehouse-mobile"

ANDROID_IP="192.168.0.91"
ANDROID_PORT="2222"
ANDROID_SFTP_USER="android"
ANDROID_APK_DEST_PATH="/0/Download"

## shell
KAMEHOUSE_SERVERS_LIST="(kamehouse-r2d2|kamehouse-watchtower|kamehouse-thor|kamehouse-cc-win|kamehouse-cc-lin|kamehouse-pegasus|kamehouse-ztv-ssj1)"

KAMEHOUSE_SERVER_CONFIGS="
kamehouse-r2d2,nbrest,80,false,false,false,false
kamehouse-r2d2,goku,6080,false,true,true,true
kamehouse-r2d2,goku,7080,false,false,true,true
kamehouse-r2d2,goku,12080,false,true,true,true
kamehouse-watchtower,nbrest,80,false,false,false,true
kamehouse-watchtower,goku,6080,false,true,true,true
kamehouse-watchtower,goku,7080,false,false,true,true
kamehouse-watchtower,goku,12080,false,true,true,true
kamehouse-thor,nbrest,80,false,false,false,true
kamehouse-cc-win,nbrest,80,false,true,false,false
kamehouse-cc-lin,nbrest,80,false,true,false,true
kamehouse-pegasus,pi,443,true,false,false,true
kamehouse-pegasus,goku,6080,false,true,true,true
kamehouse-pegasus,goku,7080,false,false,true,true
kamehouse-pegasus,goku,12080,false,true,true,true
kamehouse-ztv-ssj1,pi,443,true,false,false,true
"

VLC_MUSIC_USE_VISUALIZER=false

KEEP_ALIVE_SCRIPTS_DISABLED=false

KAMEHOUSE_KILL_CI_CONTAINER_PROCESSES=true

KAMEHOUSE_STARTUP_START_TOMCAT=true

DOCKER_HOST_AUTH=""
DOCKER_HOST_IP="127.0.0.1"
DOCKER_HOST_HOSTNAME=""
DOCKER_HOST_USERNAME="nbrest"
DOCKER_HOST_OS="windows"
DOCKER_HOST_PLAYLISTS_PATH=""
DOCKER_HOST_PORT="443"
