# -----------------------------------------------------------------------------
# This is the configuration file for ---SCRIPT_NAME---
# -----------------------------------------------------------------------------
# This file can be used to customize the default behaviour of the script.
#
# kamehouse-shell scripts variables defined in setDefaultScriptConfig() on each
# script can be configured via this file. These variables have a sensible 
# default value that can be overriden by re defining the variables in this file
#
#     For example the script docker-ci-integration-tests-trigger.sh defines the
#     variable KAMEHOUSE_KILL_CI_CONTAINER_PROCESSES=true. This config file can
#     be used to override this default value by setting the variable to false 
#     by setting the config value KAMEHOUSE_KILL_CI_CONTAINER_PROCESSES=false
#    
# Modifying default values of global variables set at the top level of 
# *-functions.sh is also possible but discouraged. Those definitions are meant 
# to be unmodifiable defaults.
#
# If any of those values should be modifiable by this file, those default 
# values should be set in setDefaultScriptConfig() on the respective 
# *-functions.sh file instead.
#
#     For example any variable modified by command line arguments that should
#     also be modifiable by this file should have its default value defined 
#     in setDefaultScriptConfig() file instead of on the global root level.
#
# This configuration file can NOT be used to modify values of variables set 
# in initScriptEnv() on each script. initScriptEnv function is executed AFTER
# this config file is loaded. 
# -----------------------------------------------------------------------------
#
