/** ----- Set scrollbar styles for different browsers ---------------------------------------- */

/** 
  These are used in vlc player playlist tables. These are overriden for playlist browser table. Look at playlist-browser-table-wrapper in vlc-player.css for an example
*/

/** Set scrollbar style FIREFOX */
* {
  scrollbar-color: #282828 #060606 !important;
  scrollbar-width: thin !important;
}

/** Set scrollbar style CHROME */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;  
}

@media(max-width: 900px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

::-webkit-scrollbar-track {
  background: #060606;
}

::-webkit-scrollbar-thumb {
  background: #282828;
}

::-webkit-scrollbar-corner {
  background: #060606;
}