#header-top-wrapper {
  margin-bottom: 15px;
}

.header-mobile-btn {
  opacity: 50%;
  width: 40px;
  height: 40px;
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .header-mobile-btn {
    width: 32px;
    height: 32px;
    margin-right: 7px;
    margin-top: 2px;
    transform: scale(1);
  }
}

.mobile-btn-kh {
  padding: 10px 20px 10px 20px;
  margin: auto;
  text-align: center;
  line-height:1.5;
  color: #6b6b6b;
  font-weight: bold;
  background-color: #1a1a1a;
  background-image: none;
  border: 1px solid #383838;
  outline: none;
  display: block;
  width: 70%;
}

.mobile-btn-kh:hover {
  color: #969696;
  background: #4d0000;
}

@media (max-width : 900px) {
  .mobile-btn-kh {
    width:80%;
  }
}
