<div class="default-layout main-body">
  <div data-ng-controller="dragonBallUserController as ctrl">
    <br>
    <h3 class="h3-kh txt-l-d-kh txt-l-m-kh">Add/Edit DragonBall User</h3>
    <br>
    <form data-ng-submit="ctrl.submit()" name="myForm" class="form-kh">

      <input type="hidden" data-ng-model="ctrl.user.id" />

      <label for="username">Username</label>
      <input type="text" class="form-input-kh username" id="username"
        placeholder="Enter your name" data-ng-model="ctrl.user.username" data-ng-minlength="3" required/>
      <div class="has-error" data-ng-show="myForm.$dirty">
        <span data-ng-show="myForm.username.$error.required">This is a required field</span> 
        <span data-ng-show="myForm.username.$error.minlength">Minimum length required is 3</span> 
        <span data-ng-show="myForm.username.$invalid">This field is invalid </span>
      </div>
      <br>

      <label for="email">Email</label>
      <input type="email" class="form-input-kh email" id="email" 
        data-ng-model="ctrl.user.email" placeholder="Enter your Email" required/>
      <div class="has-error" data-ng-show="myForm.$dirty">
        <span data-ng-show="myForm.email.$error.required">This is a required field</span> 
        <span data-ng-show="myForm.email.$invalid">This field is invalid</span>
      </div>
      <br>

      <label for="age">Age</label>
      <input type="text" class="form-input-kh" id="age" data-ng-model="ctrl.user.age" 
          placeholder="Enter your Age. [This field is validation free]" />
      <br>

      <label for="powerLevel">Power Level</label>
      <input type="text" class="form-input-kh" id="powerLevel" data-ng-model="ctrl.user.powerLevel"
        placeholder="Enter your Power Level. [This field is validation free]" />
      <br>

      <label for="stamina">Stamina</label>
      <input type="text" class="form-input-kh" id="stamina" data-ng-model="ctrl.user.stamina" 
         placeholder="Enter your Stamina. [This field is validation free]" />
      <br>

      <div class="form-submit-wrapper-kh">
        <input type="image" class="img-btn-kh m-15-d-r-kh" src="/kame-house/img/mplayer/play-blue.png" 
          alt="Submit Form" title="Submit Form" />
        <img class="img-btn-kh" data-ng-click="ctrl.reset()"
          src="/kame-house/img/other/clear-yellow.png" alt="Clear Form" title="Clear Form"/>
      </div>
    </form>
    <br>

    <div class="p-15-m-kh">
      <h3 class="h3-kh txt-l-d-kh txt-l-m-kh">DragonBall Users</h3>
      <br>
      <table class="table table-responsive table-bordered table-kh table-responsive-kh table-bordered-kh">
        <caption class="hidden-kh">DragonBall Users</caption>
        <tbody id="dragonball-users-tbody">
          <tr class="table-kh-header">
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Age</td>
            <td>Power Level</td>
            <td>Stamina</td>
            <td class="table-db-users-actions">Actions</td>
          </tr>
          <tr data-ng-repeat="u in ctrl.users">
            <td><span data-ng-bind="u.id"></span></td>
            <td><span data-ng-bind="u.username"></span></td>
            <td><span data-ng-bind="u.email"></span></td>
            <td><span data-ng-bind="u.age"></span></td>
            <td><span data-ng-bind="u.powerLevel"></span></td>
            <td><span data-ng-bind="u.stamina"></span></td>
            <td>
              <img class="img-btn-kh m-15-d-r-kh" data-ng-click="ctrl.edit(u.id)"
                src="/kame-house/img/other/edit-green.png" alt="Edit" title="Edit"/> 
              <img class="img-btn-kh" data-ng-click="ctrl.remove(u.id)"
                src="/kame-house/img/other/delete-red.png" alt="Delete" title="Delete"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>