<div class="default-layout main-body">
  <div class="info-image-wrapper-m-80-60">
    <table class="info-image-table info-image-table-reverse">
      <caption class="hidden-kh">Image-Info</caption>
      <thead class="hidden-kh"><tr><th>Image-Info</th></tr></thead>
      <tbody>
        <tr>
          <td class="info-image-img">
            <img src="/kame-house/img/dbz/shen-long-dragonballs.jpg" alt="info img"/>
          </td>
          <td class="info-image-info">
            <div class="info-image-title">
              Raise your Ki to the limit
            </div>
            <div class="info-image-desc">
              <p>Join Goku and Bulma to find the 7 dragonballs and make your wishes come true with Shen Long</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div data-ng-controller="dragonBallUserController as ctrl">
    <h3 class="h3-kh txt-l-d-kh txt-l-m-kh">DragonBall Users</h3>
    <br>
    <form class="form-kh form-db-users-angular" name="myForm" data-ng-submit="ctrl.submit()">
      <input class="hidden-kh" data-ng-model="ctrl.user.id" />

      <label for="username">Username</label>
      <input type="text" class="form-input-kh username" id="username" placeholder="Enter username"
        data-ng-model="ctrl.user.username" data-ng-minlength="3" required/>
      <br>

      <label for="email">Email</label>
      <input type="email" class="form-input-kh email" id="email" placeholder="Enter email"
        data-ng-model="ctrl.user.email" required/>
      <br>

      <label for="age">Age</label>
      <input type="text" class="form-input-kh" id="age" placeholder="Enter your Age"  
        data-ng-model="ctrl.user.age"/>
      <br>

      <label for="powerLevel">Power Level</label>
      <input type="text" class="form-input-kh" id="powerLevel" placeholder="Enter Power Level"
        data-ng-model="ctrl.user.powerLevel"/>
      <br>

      <label for="stamina">Stamina</label>
      <input type="text" class="form-input-kh" id="stamina" placeholder="Enter your Stamina" 
        data-ng-model="ctrl.user.stamina"/>
      <br>

      <div class="form-submit-wrapper-kh">
        <input type="image" class="img-btn-kh m-15-d-r-kh" src="/kame-house/img/other/check-gray-dark.png" 
          alt="Submit Form" title="Submit Form" />
        <img class="img-btn-kh fl-r-d-kh" data-ng-click="ctrl.reset()"
          src="/kame-house/img/other/cancel-yellow-dark.png" alt="Clear Form" title="Clear Form"/>
      </div>
    </form>
    <br><br>

    <div class="p-15-m-kh">
      <table class="table-kh table-db-users-angular">
        <caption class="hidden-kh">DragonBall Users</caption>
        <thead class="hidden-kh"><tr><th id="header-row">Header</th></tr></thead>
        <tbody id="dragonball-users-tbody">
          <tr class="table-kh-header">
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Age</td>
            <td>Power Level</td>
            <td>Stamina</td>
            <td class="table-kh-actions">Actions</td>
          </tr>
          <tr data-ng-repeat="u in ctrl.users">
            <td><span data-ng-bind="u.id"></span></td>
            <td><span data-ng-bind="u.username"></span></td>
            <td><span data-ng-bind="u.email"></span></td>
            <td><span data-ng-bind="u.age"></span></td>
            <td><span data-ng-bind="u.powerLevel"></span></td>
            <td><span data-ng-bind="u.stamina"></span></td>
            <td>
              <img class="img-btn-kh m-15-d-r-kh" data-ng-click="ctrl.edit(u.id)"
                src="/kame-house/img/other/edit.png" alt="Edit" title="Edit"/> 
              <img class="img-btn-kh" data-ng-click="ctrl.remove(u.id)"
                src="/kame-house/img/other/delete.png" alt="Delete" title="Delete"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>