<div class="default-layout main-body">
  <div class="generic-container" data-ng-controller="dragonBallUserController as ctrl">
    <div class="panel panel-default">
      <h3 class="h3-kh txt-l-d-kh txt-l-m-kh">Edit DragonBall User</h3>
      <div class="formcontainer">
        <form data-ng-submit="ctrl.submit()" name="myForm" class="form-horizontal mi-form-horizontal">
          <input type="hidden" data-ng-model="ctrl.user.id" />
          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="uname">Username</label>
              <div class="col-md-7">
                <input type="text" data-ng-model="ctrl.user.username" id="uname"
                  class="username form-control input-sm" placeholder="Enter your name" required
                  data-ng-minlength="3" />
                <div class="has-error" data-ng-show="myForm.$dirty">
                  <span data-ng-show="myForm.uname.$error.required">This is a required field</span> <span
                    data-ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span> <span
                    data-ng-show="myForm.uname.$invalid">This field is invalid </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="email">Email</label>
              <div class="col-md-7">
                <input type="email" data-ng-model="ctrl.user.email" id="email"
                  class="email form-control input-sm" placeholder="Enter your Email" required />
                <div class="has-error" data-ng-show="myForm.$dirty">
                  <span data-ng-show="myForm.email.$error.required">This is a required field</span> <span
                    data-ng-show="myForm.email.$invalid">This field is invalid</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="age">Age</label>
              <div class="col-md-7">
                <input type="text" data-ng-model="ctrl.user.age" id="age" class="form-control input-sm"
                  placeholder="Enter your Age. [This field is validation free]" />
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="age">Power Level</label>
              <div class="col-md-7">
                <input type="text" data-ng-model="ctrl.user.powerLevel" id="powerLevel"
                  class="form-control input-sm"
                  placeholder="Enter your Power Level. [This field is validation free]" />
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="age">Stamina</label>
              <div class="col-md-7">
                <input type="text" data-ng-model="ctrl.user.stamina" id="stamina"
                  class="form-control input-sm"
                  placeholder="Enter your Stamina. [This field is validation free]" />
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="dragonball-user-form-buttons">
              <input type="submit" value="{{!ctrl.user.id ? 'Add' : 'Update'}}"
                class="btn btn-outline-info btn-sm" data-ng-disabled="myForm.$invalid">
              <button type="button" data-ng-click="ctrl.reset()" class="btn btn-outline-warning btn-sm"
                data-ng-disabled="myForm.$pristine">Reset Form</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <h3 class="h3-kh txt-l-d-kh txt-l-m-kh">List of DragonBall Users</h3>
      <br>
      <table class="table table-bordered table-db-users table-bordered-kh table-responsive-kh table-responsive">
        <caption class="hidden-kh">DragonBall Users</caption>
        <tbody>
          <tr class="table-db-users-header">
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Age</td>
            <td>Power Level</td>
            <td>Stamina</td>
            <td class="table-db-users-actions">Actions</td>
          </tr>
          <div id="dragonball-users-tbody">
            <tr data-ng-repeat="u in ctrl.users">
              <td><span data-ng-bind="u.id"></span></td>
              <td><span data-ng-bind="u.username"></span></td>
              <td><span data-ng-bind="u.email"></span></td>
              <td><span data-ng-bind="u.age"></span></td>
              <td><span data-ng-bind="u.powerLevel"></span></td>
              <td><span data-ng-bind="u.stamina"></span></td>
              <td><img class="img-btn-kh m-15-d-r-kh" data-ng-click="ctrl.edit(u.id)"
                src="/kame-house/img/other/edit-green.png" alt="Edit" title="Edit"/> 
                <img class="img-btn-kh" data-ng-click="ctrl.remove(u.id)"
                src="/kame-house/img/other/delete-red.png" alt="Delete" title="Delete"/></td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>