@media ( max-width : 900px) {
	#about-newsletter-wrapper {
		margin-top: 10px;
	}
}

#main-article {
  float: left;
  width: 65%;
}

@media ( max-width : 900px) {
  #main-article {
    float: none;
    text-align: center;
    width: 100%;
  }
}

#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
@media ( max-width : 900px) {
	#sidebar {
	    float: none;
	    text-align: center;
	    width: 100%;
	  }
}

#social-media-links {
	margin: auto;
	width: 70%;
}

.social-media-logo { 
  width: 14px;
  height: 14px; 
}