@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

#banner {
  min-height: 400px;
  /* the tutorial had no-repeat in the background but it didn't work for me */
  background: url(/kame-house/img/banner-space.jpg) 0 -400px;
  text-align: center;
  color: #dddddd;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@media ( max-width : 900px) {
  .banner-text {
    padding-top: 80px;
  }
}

#banner h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#banner p {
  font-size: 20px;
}

body {
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background: #1a2226;
	color: #c0c0c0;
	word-wrap: break-word;
}

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box a {
	cursor: pointer;
}

#boxes .box a img {
  width: 90px;
  height: 90px;
}

/** Make all buttons square overriding bootstrap's default */
.btn {
  border-radius: 0;
}

.btn-borderless {
  border: none;
  cursor: pointer;
}

.btn-margins {
  margin-bottom: 5px; 
  margin-right: 5px;
}

.cache-status-buttons {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}

/** Collapsible content. Begin.*/
.collapsible-kh {
  background-color: #242424;
  color: #c0c0c0;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 0px;
  border:1px solid #686868;
}

.collapsible-kh:after {
  content: '\002B';
  color: #c0c0c0;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible-kh-active, .collapsible-kh:hover {
  background-color: #555;
}

.collapsible-kh-active:after {
  content: "\2212";
}

.collapsible-kh-content {
  border:1px solid #686868;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible-kh-content-pre {
  color: #c0c0c0;
  text-align: left;
}
/** Collapsible content. End.*/

#contact-us-form {
  float: left;
  width: 100%;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.dragonball-users-edit-form {
  margin-left: 30px;
  margin-right: 30px;
}

.dragonball-user-form-buttons {
  margin-left: 15px;
}

#ehcache-header {
	margin-top: 15px;
	float: left;
	font-weight: bold;
}

/** Override some of bootstrap's form control */
.form-control {
	border:1px solid #686868;
	border-radius: 0px;
	background-color: #000000;
	color: #686868;
}

.h3-kh {
	text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.h5-kh {
	text-align: center;
	font-weight: bold;
}

.h6-kh {
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}

.home-links {
  text-align: center;
}

hr {
	height: 1px;
  color: #555555;
  background-color: #555555;
}

.lighter {
	padding: 15px;
	background: #35424a;
	color: #c0c0c0;
}

.main {
  min-height: 528px;
}

.login-form {
	margin: 30px;
}

#main-article {
	float: left;
	width: 65%;
}

#newsletter {
	padding: 5px;
	color: #c0c0c0;
	background: #35424a;
}

#newsletter h5 {
	float: left;
	margin-top: 10px;
}

#newsletter form {
	float: right;
	margin-top: 0px;
}

#newsletter input[type="email"] {
	display: inline;
	height: 36px;
	padding: 9px;
	width: 250px;
}

.page-title {
  margin-top: 15px;
  font-weight: bold;
}

/** Select dark theme. Begin.*/
.select-kh-dark {
  border-radius: 0;
  border: 0px;
  position: relative;
  display: inline-block;
  color: #c0c0c0;
  background: #222222;
  padding: 8px;
}

.select-kh-dark:hover {
	border: 1px solid #686868;
}

.select-kh-dark.opened .select-kh-dark-trigger:after {
  margin-top: 3px;
}

.select-kh-dark-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 84px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}

.select-kh-dark-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.select-kh-dark.opened .options-kh-dark {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.option-kh-dark {
  position: relative;
  display: block;
  padding: 0 22px;
  font-size: 18px;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.options-kh-dark {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 15px 0;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.options-kh-dark:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
/** Select dark theme. End.*/

#sidebar {
	float: right;
	width: 30%;
	margin-top: 10px;
}

#sidebar .quote input, #sidebar .quote textarea, #sidebar .quote button
	{
	width: 90%;
	padding: 5px;
}

#services li {
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

.table-bordered-kh,
.table-bordered-kh tr,
.table-bordered-kh th,
.table-bordered-kh td {
	border:1px solid #686868;
}

.table-dragonball-users tr td:nth-child(7) form {
  display: inline;
}
  
.table-ehcache {
  background: #1c2226;
  margin-bottom: 5px;
}

.table-ehcache-button {
    float: right;
    margin: 0px;
    margin-left: 5px;    
}

.td-ehcache-header {
    font-weight: bold;
    width: 70px;
}

@media ( max-width : 900px) {
  /** Make tbody use the full width of the table */
  tbody {
    display: table;
    width: 100%;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Media Queries */
@media ( max-width : 900px) {
	#banner h1 {
    margin-top: 40px;
  }
  
	.container {
		width: 100%;
		margin: 0px;
		overflow: hidden;
		min-height: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.container h3 {
	  padding-left: 10px; 
	}
	
	.main {
	 min-height: 525px;
	}

	#newsletter h5, #newsletter form, #boxes .box, #main-article, #sidebar {
		float: none;
		text-align: center;
		width: 100%;
	}

	#newsletter button {
		display: block;
		width: 100%;
	}
	
	#newsletter form input[type="email"] {
		width: 100%;
		margin-bottom: 5px;
	}
	
	.table-dragonball-users tr td:nth-child(1), .table-dragonball-users tr th:nth-child(1)
		{
		display: inline-block;
		width: 9%;
		font-size: 0.75em;
	}
	
	.table-dragonball-users tr td:nth-child(2), .table-dragonball-users tr td:nth-child(3),
		.table-dragonball-users tr th:nth-child(2), .table-dragonball-users tr th:nth-child(3)
		{
		display: inline-block;
		width: 20%;
		font-size: 0.75em;
	}
	
	.table-dragonball-users tr td:nth-child(4), .table-dragonball-users tr td:nth-child(5),
		.table-dragonball-users tr td:nth-child(6), .table-dragonball-users tr th:nth-child(4),
		.table-dragonball-users tr th:nth-child(5), .table-dragonball-users tr th:nth-child(6)
		{
		display: inline-block;
		width: 15%;
		font-size: 0.75em;
	}
	
	.table-dragonball-users tr th:nth-child(7) {
		display: none;
		width: 0%;
	}
	
	.table-dragonball-users tr td:nth-child(7) {
		display: block;
		width: 100%;
		font-size: 0.75em;
	}
	
	.table-dragonball-users tr td:nth-child(7) input {
		width: 45%;
	}
}