@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

#banner {
  min-height: 400px;
  text-align: center;
  color: #dddddd;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-australian-open {
  background: url(/kame-house/img/banners/australian-open.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-australian-open {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

.banner-goku-ssj4-earth {
  background: url(/kame-house/img/banners/goku-ssj4-earth.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-goku-ssj4-earth {
    background-position-x: -100px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

.banner-roland-garros {
  background: url(/kame-house/img/banners/roland-garros.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-roland-garros {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

.banner-space {
  background: url(/kame-house/img/banners/space.jpg) 0 0;
}

.banner-sunset {
  background: url(/kame-house/img/banners/sunset.jpg) 0 0;
}

.banner-wimbledon {
  background: url(/kame-house/img/banners/wimbledon.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-wimbledon {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

#banner h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

@media (max-width : 900px) {
  #banner h1 {
    margin-top: 40px;
  }
}

#banner p {
  font-size: 20px;
}

@media (max-width : 900px) {
  .banner-text {
    padding-top: 80px;
  }
}

.bg-darker-kh {
  background: #171e22;
}

.bg-default-kh {
  background: #1a2226;
}

.bg-lighter-kh {
  background: #242f35;
}

body {
  font-family: 'Varela Round', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: #1a2226;
  color: #c0c0c0;
  word-wrap: break-word;
}

.btn {
  border-radius: 0;
  /** Make all buttons square overriding bootstrap's default */
}

.btn-borderless {
  border: none;
  cursor: pointer;
}

.btn-margins {
  margin-bottom: 5px;
  margin-right: 5px;
}

.default-layout {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

@media (max-width : 900px) {
  .default-layout {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .default-layout h3 {
    padding-left: 10px;
  }
}

/** Set div float desktop and mobile */
.fl-l-d-kh {
  float: left;
}

@media (max-width: 900px) {
  .fl-l-m-kh {
    float: left;
  }
}

.fl-r-d-kh {
  float: right;
}

@media (max-width: 900px) {
  .fl-r-m-kh {
    float: right;
  }
}

/** Override some of bootstrap's form control */
.form-control {
  border: 1px solid #686868;
  border-radius: 0px;
  background-color: #000000;
  color: #686868;
}

.h3-kh {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.h5-kh {
  text-align: center;
  font-weight: bold;
}

.h6-kh {
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}

.hidden-kh {
  display: none;
}

html.wait, html.wait * {
  cursor: wait;
}

.landing-p-links {
  text-align: center;
}

@media (max-width : 900px) {
  .landing-p-links {
    margin: auto;
    /** center the element */
    width: 90%;
  }
}

hr {
  height: 1px;
  color: #555555;
  background-color: #555555;
}

.main-body {
  min-height: 528px;
}

@media (max-width : 900px) {
  .main-body {
    min-height: 525px;
  }
}

/** Set margins -t top -b bottom -l left -r right | -d desktop -m mobile */


/** margin 5 */
.m-5-d-kh {
  margin: 5px;
}

@media (max-width : 900px) {
  .m-5-m-kh {
    margin: 5px;
  }
}

/** margin 7 */
.m-7-d-kh {
  margin: 7px;
}

@media (max-width : 900px) {
  .m-7-m-kh {
    margin: 7px;
  }
}

/** margin 10 */
.m-10-d-kh {
  margin: 10px;
}

@media (max-width : 900px) {
  .m-10-m-kh {
    margin: 10px;
  }
}

.m-10-d-r-kh {
  margin-right: 10px;
}

@media (max-width : 900px) {
  .m-10-m-r-kh {
    margin-right: 10px;
  }
}

/** margin 15 */
.m-15-d-kh {
  margin: 15px;
}

@media (max-width : 900px) {
  .m-15-m-kh {
    margin: 15px;
  }
}

.m-15-d-r-kh {
  margin-right: 15px;
}

@media (max-width : 900px) {
  .m-15-m-r-kh {
    margin-right: 15px;
  }
}

/** margin 20 */
.m-20-d-kh {
  margin: 20px;
}

@media (max-width : 900px) {
  .m-20-m-kh {
    margin: 20px;
  }
}

.m-20-d-r-kh {
  margin-right: 20px;
}

@media (max-width : 900px) {
  .m-20-m-r-kh {
    margin-right: 20px;
  }
}

/** margin 25 */
.m-25-d-kh {
  margin: 25px;
}

@media (max-width : 900px) {
  .m-25-m-kh {
    margin: 25px;
  }
}

.m-25-d-l-kh {
  margin-left: 25px;
}

@media (max-width : 900px) {
  .m-25-m-l-kh {
    margin-left: 25px;
  }
}

.m-25-d-r-kh {
  margin-right: 25px;
}

@media (max-width : 900px) {
  .m-25-m-r-kh {
    margin-right: 25px;
  }
}

/** margin 50 */
.m-50-d-kh {
  margin: 50px;
}

@media (max-width : 900px) {
  .m-50-m-kh {
    margin: 50px;
  }
}

.m-50-d-l-kh {
  margin-left: 50px;
}

@media (max-width : 900px) {
  .m-50-m-l-kh {
    margin-left: 50px;
  }
}

.m-50-d-r-kh {
  margin-right: 50px;
}

@media (max-width : 900px) {
  .m-50-m-r-kh {
    margin-right: 50px;
  }
}

/** margin 0 (needs to be below other m-X-x-kh definitions or it breaks for some reason) */
.m-0-d-kh {
  margin: 0;
}

@media (max-width : 900px) {
  .m-0-m-kh {
    margin: 0;
  }
}

/** Set padding on desktop and mobile */
/** padding 7 */
.p-7-d-kh {
  padding: 7px;
}

@media (max-width : 900px) {
  .p-7-m-kh {
    padding: 7px;
  }
}

/** padding 15 */
.p-15-d-kh {
  padding: 15px;
}

@media (max-width : 900px) {
  .p-15-m-kh {
    padding: 15px;
  }
}

/** Select dark theme. Begin.*/
.select-kh-dark {
  border-radius: 0;
  border: 0px;
  position: relative;
  display: inline-block;
  color: #c0c0c0;
  background: #222222;
  padding: 8px;
}

.select-kh-dark:hover {
  border: 1px solid #686868;
}

.select-kh-dark.opened .select-kh-dark-trigger:after {
  margin-top: 3px;
}

.select-kh-dark-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 84px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}

.select-kh-dark-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.select-kh-dark.opened .options-kh-dark {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.option-kh-dark {
  position: relative;
  display: block;
  padding: 0 22px;
  font-size: 18px;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.options-kh-dark {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.options-kh-dark:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
/** Select dark theme. End.*/

/* spinning wheel -------------------------------------------- */
.spinning-wheel {
  margin: auto;
  margin-top: 20px;
  border: 6px solid #525252;
  border-radius: 50%;
  border-top: 6px solid #5e0808;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* spinning wheel mobile ------------------------------------ */
.spinning-wheel-mobile {
  display: none;
}

.spinning-wheel-mobile-container {
  display: none;
}

@media (max-width : 900px) {
  .spinning-wheel-mobile-container {
    display: block;
    overflow: visible;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 25px;
  }

  .spinning-wheel-mobile {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    margin-top: 322px;
    border: 5px solid #2e2f30;
    border-radius: 50%;
    border-top: 5px solid #454647;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/** ---------------------------------------------------------- */


.table-bordered-kh {
  width: 100%;
}

.table-bordered-kh tbody {
  width: 100%;
  text-align: center;
}

.table-bordered-kh,
.table-bordered-kh tr,
.table-bordered-kh th,
.table-bordered-kh td {
  border: 1px solid #343434;
}

/** 
 * table-responsive-kh used in combination with bootstrap table-responsive 
 * When the table is too wide, it adds an horizontal scrollbar at the bottom
 */
.table-responsive-kh {
  display: block;
  overflow-x: auto;
}

.table-responsive-kh tbody {
  display: table;
  width: 100%;
}

@media (max-width : 900px) {

  /** Make tbody use the full width of the table */
  tbody {
    display: table;
    width: 100%;
  }
}

/** set text alignment desktop and mobile */
.txt-c-d-kh {
  text-align: center;
}

.txt-l-d-kh {
  text-align: left;
}

.txt-r-d-kh {
  text-align: right;
}

@media(max-width: 900px) {
  .txt-c-m-kh {
    text-align: center;
  }
}

@media(max-width: 900px) {
  .txt-l-m-kh {
    text-align: left;
  }
}

@media(max-width: 900px) {
  .txt-r-m-kh {
    text-align: right;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/** Set width percentage (for example in table columns) */
.w-10-pc-kh {
  width: 10%;
}

.w-20-pc-kh {
  width: 20%;
}

.w-25-pc-kh {
  width: 25%;
}

.w-30-pc-kh {
  width: 30%;
}

.w-40-pc-kh {
  width: 40%;
}

.w-50-pc-kh {
  width: 50%;
}

.w-60-pc-kh {
  width: 60%;
}

.w-70-pc-kh {
  width: 70%;
}

.w-75-pc-kh {
  width: 75%;
}

.w-80-pc-kh {
  width: 80%;
}

.w-90-pc-kh {
  width: 90%;
}

.w-97-pc-kh {
  width: 97%;
}

.w-100-pc-kh {
  width: 100%;
}

/** ----- Set scrollbar styles for different browsers ---------------------------------------- */

/** 
  These are used in vlc player playlist tables. These are overriden for playlist browser table. Look at playlist-browser-table-wrapper in vlc-player.css for an example
*/

/** Set scrollbar style FIREFOX */
* {
  scrollbar-color: #d90000 #171e22 !important;
  scrollbar-width: thin !important;
}

/** Set scrollbar style CHROME */
::-webkit-scrollbar {
  width: 7px;
}

@media(max-width: 900px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}

::-webkit-scrollbar-track {
  background: #171e22;
}

::-webkit-scrollbar-thumb {
  background: #d90000;
}

::-webkit-scrollbar-corner {
  background: #171e22;
}