header {
	background: #000000;
	color: #c0c0c0;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 70px;
	border-bottom: #d90000 3px solid;
}

header .container {
	margin-bottom: 0px;
}

header #header-menu {
}

header #header-menu nav {
  margin-top: 5px;
}

header #header-menu nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: 100%;
}

header #header-menu nav ul li {
  float: left;
  padding: 0 20px 0 20px;
}

header #header-menu nav ul li a {
  color: #c0c0c0;
  text-decoration: none;
  font-size: 16px;
}

header #header-menu nav ul .active a {
  color: #d90000;
  font-weight: bold;
}

header #header-menu nav ul li a:hover {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

header #header-top #branding {
  float: left;
}

header #header-top #branding h1 {
  margin: 0;
}

header #header-top #login-status {
  padding: 10px;
  float: right;
}

header #header-top #login-status a {
  float: right;
  display: inline;
  border: none;
}

header #header-top #login-status h5 {
	float: right;
	display: inline;
	padding: 5px;
	padding-right: 20px;
}

header .highlight {
  color: #d90000;
  font-weight: bold;
}

/* Media Queries */
@media ( max-width : 900px) {
	 
  header .container {
    padding: 0px;
    width: 100%;
    display: block;
  }
  
  header #header-top {
    display: inline;
  }
  
  header #header-top #branding {
    padding-top: 5px;
    padding-left: 5px;
  }
  
  header #header-top #branding h1 {
    font-size: 25px;
    text-align: left;
    display: inline;
  }
  
  header #header-top #login-status {
    float: right;
    text-align: right;
    padding: 0px;
    padding-right: 5px;
  }
  
  header #header-top #login-status h5 {
    font-size: 18px;
    padding-top: 8px;
    padding-right: 10px;
    margin: 0px;
  }
    
  header #header-top #login-status a {
    border: none;
  } 
  
	header #header-menu {
		float: left;
		display: block;
		text-align: center; 
	}

  	
	header #header-menu nav ul li {
		padding: 10px;
		display: inline;
	}
}