header {
	background: #1a2226;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .active a {
	color: #e8491d;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/* Media Queries */
@media ( max-width : 900px) {
	header #branding, header nav, header nav li {
		float: none;
		text-align: center;
		width: 100%;
	}
	header nav li {
		padding: 10px;
	}
}