@import url('/kame-house/lib/css/font-awesome.css');

header {
	background: #000000;
	color: #c0c0c0;
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 40px;
	border-bottom: #d90000 3px solid;
}

header .container {
	margin-bottom: 0px;
}

header .header-nav { 
  overflow: hidden; 
}
   
header .header-nav a {
  float: left;
  display: block;
  color: #c0c0c0;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
}

header .header-nav a.active {
  background-color: #9d0000;
  color: #000000;
}

header .header-nav a:hover {
  background-color: #b50000;
  color: black;
} 

header .header-nav .icon {
  display: none;
}

header #header-top {
  display: block;
  overflow: hidden;
  margin-bottom: 5px;
}

header #header-top #branding {
  float: left;
}

header #header-top #branding h1 {
  margin: 0;
}

header #header-top #login-status {
  padding: 10px;
  padding-bottom: 0px;
  float: right;
}

header #header-top #login-status a {
  float: right;
  display: inline;
  border: none;
}

header #header-top #login-status h5 {
	float: right;
	display: inline;
	padding: 5px;
	padding-right: 20px;
}

header .highlight {
  color: #d90000;
  font-weight: bold;
}

/* Media Queries */
@media ( max-width : 900px) {
	 
  header .container {
    padding: 0px;
    width: 100%;
    display: block;
  }
  
  header #header-top {
    display: block;
    overflow: hidden;
  }
  
  header #header-top #branding {
    padding-top: 5px;
    padding-left: 15px;
  }
  
  header #header-top #branding h1 {
    font-size: 25px;
    text-align: left;
    display: inline;
  }
  
  header #header-top #login-status {
    float: right;
    text-align: right;
    padding: 0px;
    padding-right: 5px;
  }
  
  header #header-top #login-status h5 {
    font-size: 18px;
    padding-top: 8px;
    padding-right: 10px;
    margin: 0px;
  }
    
  header #header-top #login-status a {
    border: none;
  } 

  header .header-nav a:nth-child(n+4) {display: none;}
  header .header-nav a.icon {
    float: right;
    display: block;
  }
  header .header-nav.responsive {position: relative;}
  header .header-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  header .header-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

