#boxes {
  margin-top: 20px;
}

#boxes {
	text-align: center;
	margin: auto;
}

.box {
  width: 30%;
  padding: 10px;
  display: inline-block;
}

#boxes .box a {
  cursor: pointer;
}

#boxes .box a img {
  width: 90px;
  height: 90px;
}

#boxes .box a img:hover {
  transform: scale(1.1);
}

@media (max-width : 900px) {
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }	
}

