.login-alert-success {
  color: #3a7b49;
  background-color: #191f21;
  border-color: #3a7b49;
  border-radius: 0px;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.login-alert-error {
  color: #bd2121;
  background-color: #191f21;
  border-color: #bd2121;
  border-radius: 0px;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.login-form {
  margin: 30px;
}

.login-icon {
  height: 42px;
  width: 42px;
  margin: 0px;
  padding: 4px;
}

.login-input-form {
  border: 1px solid #686868;
  border-radius: 0px;
  background-color: #000000;
  color: #686868;
  padding: 1px;
  padding-left: 10px;
  width: 100%;
}

.login-input-form:focus {
  border: 1px solid #686868;
  border-radius: 0px;
  background-color: #1a2226;
  color: #C0C0C0;
}

.login-input-group {
  display: flex;
  flex: 1 1 auto;
}

.login-label {
  margin: 0px;
}