.admin-cmds-btn {
  margin-left: 40px;
  margin-right: 40px;
}

@media (max-width : 900px) {
  .admin-cmds-btn {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.admin-cmds-section {
  width: 55%;
  padding: 10px;
  margin-top: 10px;
}

@media (max-width : 900px) {
  .admin-cmds-section {
    width: 100%;
    padding: 7px;
  }
}

#audio-controls {
  margin-top: 25px;
  margin-bottom: 25px;
}

#audio-controls #volume-slider-wrapper {
  display: inline;
}

#audio-controls #volume-slider {
  -webkit-appearance: none;
  height: 6px;
  width: 100%;
  background: #505050;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
}

@media (max-width : 900px) {
  #audio-controls #volume-slider {
    width: 100%;
  }
}

#audio-controls #volume-slider:hover {
  opacity: 1;
}

/** ::-webkit-slider-thumb for Chrome */
#audio-controls #volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-color: #4c4c4c;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  background: #141414;
  cursor: pointer;
}

/** ::-moz-range-thumb and ::-moz-range-progress for Firefox */
#audio-controls #volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-color: #141414;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  background: #141414;
  cursor: pointer;
}

#audio-controls #volume-slider::-moz-range-progress {
  width: 20px;
  height: 20px;
  background: #343434;
}


#audio-controls #current-volume {
  display: inline-block;
  min-width: 50px;
}

.btn-audio {
  margin-left: 5px;
  margin-right: 5px;
  transform: scale(0.8);
}

@media (max-width : 900px) {
  .btn-audio {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.btn-img {
  width: 21px;
  height: 21px;
  margin-bottom: 3px;
  cursor: pointer;
}

.btn-mute-pressed {
  transform: scale(0.68);
  filter: brightness(0.6);
}

.btn-mute-unpressed {
  transform: scale(0.7);
  filter: brightness(1);
}

.media-btn-pressed {
  transform: scale(0.9);
  filter: brightness(0.6);
}

.media-btn-unpressed {
  transform: scale(1);
  filter: brightness(1);
}

#media-buttons {
  padding-top: 10px;
}

#media-flow-buttons {
  margin-top: 15px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  #media-flow-buttons {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.media-flow-button {
  width: 30px !important;
  height: 30px !important;
}

#media-play-control-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  #media-play-control-buttons {
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

#media-screen-ctrl-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 88%;
}

#media-screen-ctrl-buttons td {
  width: 33%;
}

@media (max-width: 900px) {
  #media-screen-ctrl-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 83%;
  }
}

.media-screen-ctrl-button {
  width: 32px !important;
  height: 32px !important;
}

#media-title {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#media-time {
  padding-bottom: 10px;
}

#media-time #time-slider-wrapper {
  display: inline;
}

#media-time table {
  width: 100%;
}

#media-time #time-slider {
  -webkit-appearance: none;
  height: 20px;
  width: 100%;
  background: #505050;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
}

#media-time #time-slider:hover {
  opacity: 1;
}

#media-time #time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-color: #4c4c4c;
  border-style: solid;
  border-width: 1px;
  background: #141414;
  cursor: pointer;
}

#media-time #time-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-width: 10px;
  background: #141414;
  cursor: pointer;
}

#media-time #time-slider::-moz-range-progress {
  width: 25px;
  height: 25px;
  background: #343434;
}

#media-time #current-time {
  display: inline-block;
  padding-left: 5px;
}

#media-time #total-time {
  display: inline-block;
  padding-right: 5px;
}

/** Playlist control begin.*/
.playlist-controls-table { 
  width: 100%;
}

@media (max-width: 900px) {
  .playlist-controls-table {
    display: block;
  }
}

/** Playlist begin.*/
.playlist-table-btn {
  font-weight: 400;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fa314a;
  text-decoration: none;
}

.playlist-table-btn:hover {
  background-color: #4b0b0b;
  color: #c0c0c0;
}

.playlist-table-btn.active {
  background-color: #9d0000;
  color: black;
}

.playlist-table {
  width: 100%;
}

@media (max-width: 900px) {
  .playlist-table {
    display: block;
  }
}

.playlist-wrapper {
  padding: 10px;
  background: #171e22;
  max-height: 500px;
  overflow: scroll;
}

@media (max-width: 900px) {
  .playlist-wrapper {
    max-height: 380px;
    overflow: scroll;
  }
}

/** Playlist selector dropdowns begin */
#playlist-selector {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

#playlist-category-dropdown {
  margin-right: 5px;
}

@media (max-width: 900px) {
  #playlist-category-dropdown {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
}

#playlist-dropdown {
  margin-right: 5px;
}

@media (max-width: 900px) {
  #playlist-dropdown {
    min-width: 300px;
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 7px;
  }
}

/** Playlist selector dropdowns end */

.table-filter-input {
  border: 1px solid #131a1f;
  border-radius: 0px;
  color: #868686;
  background: #1a242a;
  padding: 5px;
  width: 95%;
}

.table-mplayer-btns-kh {
  text-align: center;
  margin: auto;
  width: 100%;
}

@media (max-width : 900px) {
  .table-mplayer-btns-kh {
    width: 100%;
    text-align: center;
  }
}

.vlc-player {
  text-align: center;
}

.vlc-player-btn-img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/** MIN WIDTH media query: Only do for desktop, without afecting mobile. I usually use queries 
 * to override the default behaviour I set on desktop. In this case, I was doing that and
 * it caused a bug because I had to force mobile to scale to 1 and brightness 1 and that
 * overrode the .media-button-pressed css, removing the effect of pressed buttons */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .vlc-player-btn-img:hover {
    transform: scale(1.3);
    filter: brightness(1);
  }
}

.vlc-player-btn-img:active {
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .vlc-player-btn-img:active {
    transform: scale(0.7);
  }
}

.vlc-player-btn-img-s {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#vlc-player-main {
  color: #969696;
  width: 65%;
  padding: 10px;
  margin: auto;
}

@media (max-width : 900px) {
  #vlc-player-main {
    width: 100%;
    text-align: center;
  }
}

.vlc-player-select {
  border: 1px solid #131a1f;
  color: #868686;
  background: #1a242a;
}

/* tabs */
.vlc-player-tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.vlc-player-tabs {
  overflow: hidden;
  border-bottom: #272626 3px solid;
}

.vlc-player-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: #c0c0c0;
  text-align: center;
  font-size: 17px;
  padding: 12px 14px;
  text-decoration: none;
}
@media (max-width : 900px) {
  .vlc-player-tabs button {
    font-size: 15px;
    padding: 12px 14px;
  }
}

.vlc-player-tabs button:hover {
  background-color: rgb(75, 11, 11);
}

.vlc-player-tabs button.active {
  background-color: rgba(104, 5, 5, 0.959);
}
