.admin-cmds-section {
	width: 55%;
}
@media (max-width : 900px) {
  .admin-cmds-section {
    width: 100%;
  }
}

#audio-controls {
  margin-top: 25px;
  margin-bottom: 25px; 
}

#audio-controls #volume-slider-wrapper {
  display: inline; 
}

#audio-controls #volume-slider {
  -webkit-appearance: none; 
  height: 20px;
  width: 100%;
  background: #505050;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
}
@media (max-width : 900px) {
  #audio-controls #volume-slider {
    width: 210px;
  }
}

#audio-controls #volume-slider:hover {
  opacity: 1;
}

#audio-controls #volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-widh: 10px;
  background: #141414;
  cursor: pointer;
}

#audio-controls #volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-widh: 10px;
  background: #141414;
  cursor: pointer;
}

#audio-controls #current-volume {
  display: inline-block;
  min-width: 50px;
}

.btn-audio { 
	margin-left: 5px;
	margin-right: 5px;
}
@media (max-width : 900px) {
  .btn-audio {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.btn-img {
  width: 21px;
  height: 21px;
  margin-bottom: 3px;
  cursor: pointer;
}

.btn-playlist {
	width: 100%;
	text-align: left;
}

#media-buttons {
	padding-top: 10px;
}

#media-title {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#media-time {
	padding-bottom: 5px;
}

#media-time #time-slider-wrapper {
  display: inline;
}

#media-time table {
	width: 100%;
}

#media-time #time-slider {
  -webkit-appearance: none; 
  height: 20px;
  width: 100%;
  background: #505050;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
}

#media-time #time-slider:hover {
  opacity: 1;
}

#media-time #time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-widh: 10px;
  background: #141414;
  cursor: pointer;
}

#media-time #time-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-widh: 10px;
  background: #141414;
  cursor: pointer;
}

#media-time #current-time {
  display: inline-block;
  padding-left: 5px;
}

#media-time #total-time {
  display: inline-block;
  padding-right: 5px;
}

.oc-section {
	width: 55%;
}
@media (max-width : 900px) {  
  .oc-section {
    width: 100%;
  } 
}

.table-mplayer-btns-kh { 
	text-align: center; 
	margin: auto;
	width: 100%;
}
@media (max-width : 900px) {
  .table-mplayer-btns-kh {
    width: 100%;
    text-align: center;
  }
}
 
.vlc-player {
	text-align: center;
}

#vlc-player-main {
	color: #969696;
	border-style: solid;
  border-width: 10px;
  border-color: #161e21;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
} 
#vlc-player-main img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#vlc-player-main img:hover {
  transform: scale(1.3);
  filter: brightness(1);
}
@media (max-width : 900px) {  
  #vlc-player-main img:hover { 
    transform: scale(1);
    filter: brightness(1);
  }
}
#vlc-player-main img:active {
  transform: scale(0.9);
}
@media (max-width : 900px) {  
  #vlc-player-main img:active { 
    transform: scale(0.7);
  }
}
@media (max-width : 900px) {	
	#vlc-player-main { 
    width: 100%; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

/** Playlist begin.*/
.playlist-collapsible {
  background-color: #1b1b1f;
  color: #646464;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none !important;
  font-size: 15px;
  border-radius: 0px;
} 
  .playlist-collapsible:after {
    content: '\002B';
    color: #646464;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  } 
   
  .playlist-collapsible-active, .playlist-collapsible:hover { 
    background-color: #2b0b0b;
    color: #c0c0c0;
  } 
  .playlist-collapsible-active:after { 
    content: "\2212";
    color: #c0c0c0; 
  } 
  
  .playlist-collapsible-content { 
    background: #101517;
    border: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .playlist-collapsible-content-active { 
    border:1px solid #343434;
    max-height: 500px;
    overflow: scroll;
  }  
	@media (max-width: 900px) {
	  .playlist-collapsible-content-active { 
      border:1px solid #343434;
	    max-height: 380px;
	    overflow: scroll;
	  }
	}  

#playlist-selector {
  padding-top: 10px;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 0;
}

.playlist-table {
	width: 100%;
}
@media (max-width: 900px) {
  .playlist-table {
    display: block;
  }
}  

.playlist-table-element-playing {
	background-color: #511c1c; 
}

#playlist-wrapper {
  padding-top: 0;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 10px; 
} 
/** Playlist end */