.ac-section {
	width: 55%;
}
@media (max-width : 900px) {
  .ac-section {
    width: 100%;
  }
}

.pls-section {
	width: 55%;
}
@media (max-width : 900px) {
  .pls-section {
    width: 100%;
  }
}

.oc-section {
	width: 55%;
}
@media (max-width : 900px) {  
  .oc-section {
    width: 100%;
  } 
}

.table-mplayer-btns-kh { 
	text-align: center; 
	margin: auto;
	width: 100%;
}
@media (max-width : 900px) {
  .table-mplayer-btns-kh {
    width: 100%;
    text-align: center;
  }
}

.vlc-player {
	text-align: center;
}

#vlc-player-buttons {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
} 
@media (max-width : 900px) {	
	#vlc-player-buttons { 
    width: 100%; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}