.ac-section {
	width: 55%;
}
@media (max-width : 900px) {
  .ac-section {
    width: 100%;
  }
}

#audio-controls {
  margin-top: 25px;
  margin-bottom: 25px; 
}

/** */
.w-10-pc-kh {
  width: 10%; 
}

.w-60-pc-kh {
  width: 60%; 
}

#audio-controls #volume-slider-wrapper {
  display: inline; 
}

#audio-controls #volume-slider {
  -webkit-appearance: none; 
  height: 20px;
  width: 100%;
  background: #505050;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
}
@media (max-width : 900px) {
  #audio-controls #volume-slider {
    width: 210px;
  }
}

#audio-controls #volume-slider:hover {
  opacity: 1;
}

#audio-controls #volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-widh: 10px;
  background: #141414;
  cursor: pointer;
}

#audio-controls #volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-widh: 10px;
  background: #141414;
  cursor: pointer;
}

#audio-controls #current-volume {
  display: inline-block;
  min-width: 50px;
}

.btn-audio { 
	margin-left: 5px;
	margin-right: 5px;
}
@media (max-width : 900px) {
  .btn-audio {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.btn-img {
  width: 21px;
  height: 21px;
  margin-bottom: 3px;
  cursor: pointer;
}

.oc-section {
	width: 55%;
}
@media (max-width : 900px) {  
  .oc-section {
    width: 100%;
  } 
}

.pls-section {
  width: 55%;
}
@media (max-width : 900px) {
  .pls-section {
    width: 100%;
  }
}

.table-mplayer-btns-kh { 
	text-align: center; 
	margin: auto;
	width: 100%;
}
@media (max-width : 900px) {
  .table-mplayer-btns-kh {
    width: 100%;
    text-align: center;
  }
}

img {
	cursor: pointer;
}
 
.vlc-player {
	text-align: center;
}

#vlc-player-main {
	color: #969696;
	border-style: solid;
  border-width: 10px;
  border-color: #161e21;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
} 
#vlc-player-main img {
  width: 35px;
  height: 35px;
}
#vlc-player-main img:hover {
  transform: scale(1.1);
}
#vlc-player-main img:active {
  transform: scale(0.9);
}
@media (max-width : 900px) {	
	#vlc-player-main { 
    width: 100%; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
