.cache-status-buttons {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#ehcache-header {
  margin-top: 15px;
  float: left;
  font-weight: bold;
}

.ehcache-table-header-txt {
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
}

.table-ehcache {
  background: #171717;
  margin-bottom: 5px;
}

.table-ehcache td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.table-ehcache-button {
    float: right;
    margin: 0px;
    margin-left: 5px;    
}

.td-ehcache-header {
    font-weight: bold;
    width: 70px;
}