.btn-scheduler {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .btn-scheduler {
    transform: scale(1);
  }

  .btn-scheduler:active {
    border: 1px solid #181818;
    border-radius: 50%;
    background-color: #181818;
  }
}

/** MIN WIDTH media query: Only do for desktop, without afecting mobile. I usually use queries 
 * to override the default behaviour I set on desktop. In this case, I was doing that and
 * it caused a bug because I had to force mobile to scale to 1 and brightness 1 and that
 * overrode the .media-button-pressed css, removing the effect of pressed buttons */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .btn-scheduler:hover {
    transform: scale(1.3);
  }
}

.scheduler-status-buttons {
  float: right;
}

#scheduler-header {
  margin-top: 15px;
  float: left;
  font-weight: bold;
}

.scheduler-table-header-txt {
  display: inline-block;
}

.table-scheduler {
  background: #171717;
  margin-bottom: 5px;
}

.table-scheduler tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.table-scheduler-button {
  float: right;
  margin: 0px;
  margin-left: 5px;
}

.td-scheduler-header {
  font-weight: bold;
  width: 70px;
}