.log-level-table {
  margin-top: 20px;
}

.packages-table {
  border:1px solid #414141;
  width: 50%;
  margin: auto;
}

.packages-table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (max-width : 900px) {
  .packages-table {
    width: 100%;
  }
}

.request-logger-config-table {
  background-color: #12181a;
  border:1px solid #414141;
  width: 40%;
  margin: auto;
}

.request-logger-config-table td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (max-width : 900px) {
  .request-logger-config-table {
    width: 100%;
  }
}