.btn-log-level {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .btn-log-level {
    transform: scale(1);
  }

  .btn-log-level:active {
    border: 1px solid #181818;
    border-radius: 50%;
    background-color: #181818;
  }
}

/** MIN WIDTH media query: Only do for desktop, without afecting mobile. I usually use queries 
 * to override the default behaviour I set on desktop. In this case, I was doing that and
 * it caused a bug because I had to force mobile to scale to 1 and brightness 1 and that
 * overrode the .media-button-pressed css, removing the effect of pressed buttons */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .btn-log-level:hover {
    transform: scale(1.3);
  }
}

.log-level-status-buttons {
  float: right;
}

.log-level-table {
  margin-top: 20px;
  background-color: #12181a;
}

.log-level-thead {
  background-color: #2c0000;
  font-weight: bold;
}

.packages-table {
  background-color: #12181a;
  border:1px solid #414141;
  width: 50%;
  margin: auto;
}
@media (max-width : 900px) {
  .packages-table {
    width: 100%;
  }
}