.module-status-header {
  background-color: #2c0000;
}

.module-status-table-header-txt {
  display: inline-block;
}

.table-module-status {
  background: #171717;
  margin-bottom: 5px;
}

.table-module-status tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.table-module-status-button {
    float: right;
    margin: 0px;
    margin-left: 5px;    
}

.td-module-status-title {
    font-weight: bold;
}