/*
 * Server management global styles.
 */
.sm-btn-img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/** MIN WIDTH media query: Only do for desktop, without afecting mobile. I usually use queries 
 * to override the default behaviour I set on desktop. In this case, I was doing that and
 * it caused a bug because I had to force mobile to scale to 1 and brightness 1 and that
 * overrode the .media-button-pressed css, removing the effect of pressed buttons */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .sm-btn-img:hover {
    transform: scale(1.3);
    filter: brightness(1);
  }
}

.sm-btn-img:active {
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .sm-btn-img:active {
    transform: scale(0.7);
  }
}

.server-management {
  text-align: left;
}

.media-server-section {
  width: 60%;
}

@media (max-width : 900px) {
  .media-server-section {
    width: 100%;
  }
}

.pm-section {
  width: 40%; 
}

.screen-section {
	width: 60%; 
}

@media (max-width: 900px) {
	.pm-section {
	  width: 100%; 
	}
	
	.screen-section {
    width: 100%; 
  }
}
