/*
 * Server management styles.
 */

.httpd-status {
  padding: 5px;
  margin: 5px;
  display: table;
  border: 3px solid #2a2a2a;
  border-radius: 0px;
  border-collapse: initial;
  background-color: #0c1012;
  color: #686868;
  width: 90%;
  text-align: left;
}

.media-server-section {
  width: 100%;
}

@media (max-width : 900px) {
  .media-server-section {
    width: 100%;
  }
}

.pm-section {
  width: 100%; 
}

@media (max-width: 900px) {
	.pm-section {
	  width: 100%; 
	}
}

.screen-section {
	width: 60%; 
}

@media (max-width: 900px) {
	.screen-section {
    width: 100%; 
  }
}

.server-management {
  text-align: left;
}

.suspend-dropdowns {
  display: inline;
}

@media (max-width: 900px) {
	.suspend-dropdowns {
    display: block;
  }
}

.system-state-command-output {
  background-color: #0c1012;
  color: #686868;
}

#system-state-commands {
  text-align: center;
	margin: auto;
}

.system-state-command {
  width: 30%;
  padding: 10px;
  display: inline-block;
}

@media (max-width : 900px) {
  #system-state-commands .system-state-command {
    float: none;
    text-align: center;
    width: 100%;
  }	
}
