<main>
<div class="container">
  <div class="generic-container" ng-controller="dragonBallUserController as ctrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="lead">Edit DragonBall User</span>
      </div>
      <div class="formcontainer">
        <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal mi-form-horizontal">
          <input type="hidden" ng-model="ctrl.user.id" />
          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="uname">Username</label>
              <div class="col-md-7">
                <input type="text" ng-model="ctrl.user.username" id="uname"
                  class="username form-control input-sm" placeholder="Enter your name" required
                  ng-minlength="3" />
                <div class="has-error" ng-show="myForm.$dirty">
                  <span ng-show="myForm.uname.$error.required">This is a required field</span> <span
                    ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span> <span
                    ng-show="myForm.uname.$invalid">This field is invalid </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="email">Email</label>
              <div class="col-md-7">
                <input type="email" ng-model="ctrl.user.email" id="email"
                  class="email form-control input-sm" placeholder="Enter your Email" required />
                <div class="has-error" ng-show="myForm.$dirty">
                  <span ng-show="myForm.email.$error.required">This is a required field</span> <span
                    ng-show="myForm.email.$invalid">This field is invalid</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="age">Age</label>
              <div class="col-md-7">
                <input type="text" ng-model="ctrl.user.age" id="age" class="form-control input-sm"
                  placeholder="Enter your Age. [This field is validation free]" />
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="age">Power Level</label>
              <div class="col-md-7">
                <input type="text" ng-model="ctrl.user.powerLevel" id="powerLevel"
                  class="form-control input-sm"
                  placeholder="Enter your Power Level. [This field is validation free]" />
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="age">Stamina</label>
              <div class="col-md-7">
                <input type="text" ng-model="ctrl.user.stamina" id="stamina"
                  class="form-control input-sm"
                  placeholder="Enter your Stamina. [This field is validation free]" />
              </div>
            </div>
          </div>

          <div class="row dragonball-users-edit-form">
            <div class="dragonball-user-form-buttons">
              <input type="submit" value="{{!ctrl.user.id ? 'Add' : 'Update'}}"
                class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                ng-disabled="myForm.$pristine">Reset Form</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <span class="lead">List of DragonBall Users</span>
      </div>
      <div class="tablecontainer">
        <table class="table table-hover table-dragonball-users">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Age</th>
              <th>Power Level</th>
              <th>Stamina</th>
              <th width="20%"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="u in ctrl.users">
              <td><span ng-bind="u.id"></span></td>
              <td><span ng-bind="u.username"></span></td>
              <td><span ng-bind="u.email"></span></td>
              <td><span ng-bind="u.age"></span></td>
              <td><span ng-bind="u.powerLevel"></span></td>
              <td><span ng-bind="u.stamina"></span></td>
              <td><input type="button" ng-click="ctrl.edit(u.id)" value="edit"
                  class="btn btn-success custom-width" /> <input type="button"
                  ng-click="ctrl.remove(u.id)" value="delete" class="btn btn-danger custom-width" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</main>