.img-btn-kh {
  background: transparent;
  background-size: 100% 100%;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/** This css affects desktop, not mobile! */
@media (min-width : 900px) {
  .img-btn-kh:hover {
    transform: scale(1.3);
  }
}

.img-btn-kh:active {
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .img-btn-kh:active {
    transform: scale(1);
    border-radius: 20px;
    background-color: #313131;
    box-shadow: 0px 0px 15px 4px #4e4e4e;
  }
}

/** This css affects desktop, not mobile! */
@media (min-width : 900px) {
  .img-btn-mobile-kh:hover {
    transform: scale(1);
  }
}

.img-btn-mobile-kh:active {
  transform: scale(1);
  border-radius: 20px;
  background-color: #313131;
  box-shadow: 0px 0px 15px 4px #4e4e4e;
}

/** Use in combination with img-btn-kh to make it smaller or bigger */
.img-btn-s-kh {
  background: transparent;
  background-size: 100% 100%;
  border: none;
  width: 25px;
  height: 25px;
}

.img-btn-m-kh {
  background: transparent;
  background-size: 100% 100%;
  border: none;
  width: 40px;
  height: 40px;
}

.img-btn-l-kh {
  background: transparent;
  background-size: 100% 100%;
  border: none;
  width: 50px;
  height: 50px;
}

.img-user-icon {
  background: #000000;
  background-size: 100% 100%;
  border-radius: 20px;
  border: 0px solid;
  border-color: #000000;
  padding: 0px; 
}
