/**
  * banners matrix
  */
  .banner-matrix {
    background: url(/kame-house/img/banners/matrix/banner-matrix.jpg) 0 0;
    background-size: cover !important;
    background-repeat: round !important;
  }
  
  @media (max-width : 900px) {
    .banner-matrix {
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
  }
  
  @media (max-width : 499px) {
    .banner-matrix {
      background-position-x: -130px;
    }
  }
  