@import url('kamehouse-splashscreen.css');
@import url('fonts/varela-round.css');
@import url('banners/kamehouse-banners.css');
@import url('components/kamehouse-info-boxes.css');
@import url('components/kamehouse-info-image.css');
@import url('components/kamehouse-link-boxes.css');
@import url('components/kamehouse-link-image.css');
@import url('components/kamehouse-collapsible.css');
@import url('components/kamehouse-shell-output.css');
@import url('components/kamehouse-status-box.css');
@import url('kamehouse-animations.css');
@import url('kamehouse-float.css');
@import url('kamehouse-form.css');
@import url('kamehouse-heading.css');
@import url('kamehouse-img.css');
@import url('kamehouse-links.css');
@import url('kamehouse-list.css');
@import url('kamehouse-margin.css');
@import url('kamehouse-padding.css');
@import url('kamehouse-scrollbar.css');
@import url('kamehouse-select.css');
@import url('kamehouse-spinning-wheel.css');
@import url('kamehouse-tab.css');
@import url('kamehouse-table.css');
@import url('kamehouse-text-align.css');
@import url('kamehouse-width.css');

/** 
 * ".kh-mobile-only" : use class for tagging elements that should be rendered in the native mobile app and hidden on the webapp
 * ".kh-mobile-hidden" : use class for tagging elements that should be hidden in the native mobile but are rendered on the webapp
 */

/** From bootstrap */
*, ::after, ::before {
  box-sizing: inherit;
}

.bg-lighter-0-kh {
  background: #060606;
}

body {
  font-family: 'varela_roundregular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: #000000;
  color: #c0c0c0;
  word-wrap: break-word;
}

.bold-kh {
  font-weight: bold;
}

.border-gray-dark-kh {
  border: 1px solid #292929;
}

.btn {
  border-radius: 0;
  /** Make all buttons square overriding bootstrap's default */
}

.clickable {
  cursor: pointer;
}

.default-layout {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

@media (max-width : 900px) {
  .default-layout {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .default-layout h3 {
    padding-left: 10px;
  }
}

.hidden-kh {
  display: none !important;
}

.highlight {
  color: #d90000;
  font-weight: bold;
}

hr {
  height: 1px;
  color: #555555;
  background-color: #555555;
}

html.wait, html.wait * {
  cursor: wait;
}

.main-body {
  min-height: 528px;
}

textarea {
  min-height: 100px;
}
