/** form styles begin */
.form-kh {
  border: 1px solid #3a3a3a;
  width: 100%;
  padding: 15px;
  background: #060606;
  color: #c0c0c0;
}

.form-kh label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: .5rem;
}

.form-input-kh {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid #383838;
  border-radius: 0px;
  background: #181818;
  color: #686868;
  outline: none;
}

.form-input-kh[type="checkbox"] {
  width: auto;
}

.form-input-kh:focus {
  border: 1px solid #616161;
  border-radius: 0px;
  background-color: #1a2226;
  color: #C0C0C0;
  outline: none;
}

/** to override bootstraps vertical-align for img */
.form-submit-wrapper-kh img {
  vertical-align: unset;
}

.form-submit-btn-kh {
  text-align: center;
  outline: none;
  padding: 5px 20px 5px 20px;
  line-height:1.5;
  color: #6b6b6b;
  font-weight: bold;
  background-color: #1a1a1a;
  background-image: none;
  border: 1px solid #383838;
  width: 105px;
  cursor: pointer;
}

.form-submit-btn-kh:hover {
  color: #969696;
  background: #4d0000;
}

@media (max-width : 900px) {
  .form-submit-btn-kh {
    width:100%;
  }
}
