/** Error banners */
.banner-error-400 {
  background: url(/kame-house/img/banners/saint-seiya/banner-sanctuary.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-400 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-400 {
    background-position-x: -130px;
  }
}

.banner-error-401 {
  background: url(/kame-house/img/banners/dragonball/banner-gohan-ssj2-4.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-401 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-401 {
    background-position-x: -130px;
  }
}

.banner-error-403 {
  background: url(/kame-house/img/banners/dragonball/banner-goku-ssj1.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-403 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-403 {
    background-position-x: -130px;
  }
}

.banner-error-404 {
  background: url(/kame-house/img/banners/dragonball/banner-goku-ssj4-earth.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-404 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-404 {
    background-position-x: -100px;
  }
}

.banner-error-405 {
  background: url(/kame-house/img/banners/prince-of-tennis/banner-rikkaidai.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-405 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-405 {
    background-position-x: -40px;
  }
}

.banner-error-409 {
  background: url(/kame-house/img/banners/captain-tsubasa/banner-beni3.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-409 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-409 {
    background-position-x: -90px;
  }
}

.banner-error-500 {
  background: url(/kame-house/img/banners/saint-seiya/banner-fuego-12-casas.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-500 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-500 {
    background-position-x: -130px;
  }
}

.banner-error-502 {
  background: url(/kame-house/img/banners/saint-seiya/banner-ancient-era-warriors.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-502 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-502 {
    background-position-x: -40px;
  }
}


.banner-error-503 {
  background: url(/kame-house/img/banners/dragonball/banner-trunks-mountains.jpg) 0 0;
  background-size: cover !important;
  background-repeat: round !important;
}

@media (max-width : 900px) {
  .banner-error-503 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width : 499px) {
  .banner-error-503 {
    background-position-x: -240px;
  }
}
