
/** all-kamehouse-shell-table-controls begin */
.all-kamehouse-shell-table-controls-table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: table;
}
/** all-kamehouse-shell-table-controls end */

/** all-kamehouse-shell-table-wrapper begin*/
/** Set scrollbar style FIREFOX */
#all-kamehouse-shell-table-wrapper {
  scrollbar-color: #ea0000 #060606 !important;
  scrollbar-width: thin !important;
}

/** Set scrollbar style CHROME */
#all-kamehouse-shell-wrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

@media(max-width: 900px) {
  #all-kamehouse-shell-table-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

#all-kamehouse-shell-table-wrapper::-webkit-scrollbar-track {
  background: #060606;
}

#all-kamehouse-shell-table-wrapper::-webkit-scrollbar-thumb {
  background: #ea0000;
}

#all-kamehouse-shell-table-wrapper::-webkit-scrollbar-corner {
  background: #060606;
}
/** all-kamehouse-shell-table-wrapper end*/

#banner-script-status {
  font-size: 20px;
}

/** kamehouse-shell controls table button begin */
.btn-kamehouse-shell-controls {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width : 900px) {
  .btn-kamehouse-shell-controls {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
/** kamehouse-shell controls table button end */

/** kamehouse-shell-table begin */
.kamehouse-shell-table {
  color: #868686;
  width: 100%;
}

@media (max-width: 900px) {
  .kamehouse-shell-table {
    display: block;
  }
}

.kamehouse-shell-wrapper {
  padding: 10px;
  background: #060606;
  max-height: 500px;
  overflow: scroll;
}

@media (max-width: 900px) {
  .kamehouse-shell-wrapper {
    max-height: 380px;
    overflow: scroll;
  }
}
/** kamehouse-shell-table end */

/** kamehouse-shell table btn begin*/
.kamehouse-shell-table-btn {
  font-weight: 400;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ea0000;
  text-decoration: none;
}

.kamehouse-shell-table-btn:hover {
  background-color: #ea0000;
  color: #c0c0c0;
  font-size: bold;
}
/** kamehouse-shell table btn end*/