
.img-tomcat-manager-status {
  width: 22px;
  height: 22px;
  margin-top: 5px;
}

#log-selector {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right:10px;
}

@media (max-width : 900px) {
  #log-selector  {
    margin: 20px;
  }
}

#tail-log-num-lines {
  display: inline;
}

@media (max-width : 900px) {
  #tail-log-num-lines {
    display: block;
    margin-top: 10px;
  }
}

#tail-log-level {
  display: inline;
}

@media (max-width : 900px) {
  #tail-log-level {
    display: block;
    margin-top: 10px;
  }
}

.tomcat-debug-mode-span {
  padding: 10px;
  color: #5e5e5e;
  font-weight: bold;
  margin-left: 20px;
}

.tomcat-debug-mode {
  margin: 10px;
  margin-top: 17px;
}

.tomcat-description {
  margin: 30px;
  width: 90%;
}

@media (max-width : 900px) {
  .tomcat-description {
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
}

.tomcat-modules-table-path {
  min-width: 240px;
}

.tomcat-modules-table-build-version {
  min-width: 250px;
}

.tomcat-modules-table-build-date {
  min-width: 270px;
}

.tomcat-modules-table-controls {
  min-width: 110px;
}

.tomcat-modules-table-deployment {
  min-width: 180px;
}

.tomcat-process-console-output {
  margin: 30px;
  background-color: #000000;
  color: #686868;
}

.non-tomcat-modules-table-build-version {
  min-width: 250px;
}

.non-tomcat-modules-table-build-date {
  min-width: 250px;
}

.non-tomcat-modules-table-deployment {
  min-width: 120px;
}

.server-manager-tabs {
  background-color: #060809;
  border-bottom: #272727 3px solid;
}

@media (max-width : 900px) {
  .server-manager-tabs {
    border-bottom: #272727 2px solid;;
  }
}

.server-manager-tabs-table {
  border: none;
}

.server-manager-tabs-table tbody {
  background-color: #060809;
}

.server-manager-tabs-table tr {
  border: none;
}

.server-manager-tabs-table tr td {
  border: none;
  outline: none;
  cursor: pointer;
  color: #c0c0c0;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

@media (max-width : 900px) {
  .server-manager-tabs-table tr td {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.server-manager-tabs-table tr td:hover {
  background-color: black;
  color: #eeeded;
}

.server-manager-tabs-table tr td.active {
  background-color: #500000;
  color: #dfdfdf;
}
