#crud-manager-tbody-col-0 {
  min-width: 0px;
}

#crud-manager-tbody-col-1 {
  min-width: 0px;
}

#crud-manager-tbody-col-2 {
  min-width: 350px;
}

#crud-manager-tbody-col-3 {
  min-width: 0px;
}

#crud-manager-tbody-col-4 {
  min-width: 180px;
}

#crud-manager-tbody-col-5 {
  min-width: 0px;
}

#crud-manager-tbody-col-6 {
  min-width: 0px;
}

#crud-manager-tbody-col-7 {
  min-width: 0px;
}

#crud-manager-tbody-col-8 {
  min-width: 0px;
}

#crud-manager-tbody-col-9 {
  min-width: 0px;
}

#crud-manager-tbody-col-10 {
  min-width: 0px;
}

#crud-manager-tbody-col-11 {
  min-width: 185px;
}

#crud-manager-tbody-col-12 {
  min-width: 0px;
}

#crud-manager-tbody-col-13 {
  min-width: 0px;
}

#crud-manager-tbody-col-14 {
  min-width: 0px;
}