#booking-response-table {
  margin: auto;
  width: 70%;
}

@media (max-width : 900px) { 
  #booking-response-table {
    width: 100%;
  }  
}

.cc-card-number {
  width: 70px;
  display: inline;
  margin-right: 7px;
}

.cc-exp-month {
  width: 60px;
  display: inline;
  margin-right: 7px;
}

.cc-exp-year {
  width: 75px;
  display: inline;
}

.cc-cvv {
  width: 70px;
  display: inline;
}

.clear-booking-td {
  text-align: right;
  padding-top: 9px;
}

.clear-payment-td {
  text-align: right;
  padding-top: 34px;
}

.exp-date-td {
  min-width: 95px;
}

@media (max-width : 900px) {
  .exp-date-td {
    max-width: 95px;
  }
}

.disclaimer {
  font-weight: bold;
  padding: 20px;
  color: #969696;
  text-align: center;
}

.form-book {
  margin: auto;
  width: 50%;
}

@media (max-width : 900px) {
  .form-book {
    width: 100%;
  }
}

@media (max-width : 900px) {
  .form-book-submit {
    text-align: center;
    margin: auto;
    width: 90%;
  }
}

.header {
  margin-left: 150px;
}

@media (max-width : 900px) { 
  .header {
    margin-left: unset;
  }
}