.tennisworld-functionality-list-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .tennisworld-functionality-list-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.tennisworld-functionality-list-wrapper h4 {
  margin-bottom: 30px;
}

.tennisworld-links-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .tennisworld-links-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.welcome-tennisworld-image-info-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .welcome-tennisworld-image-info-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}