#contact-us-form {
	float: left;
  width: 100%;
  padding: 15px;
  background: #171e22;
  color: #c0c0c0;
}

#contact-us-form form {
	min-height: inherit;
}

#contact-us-newsletter-wrapper {
	margin-top: 90px;
}

@media ( max-width : 900px) {
	#contact-us-newsletter-wrapper {
	  margin-top: 10px;
	}
}