<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>KameHouse - Webapp</display-name>

	<!-- Root Application Context common for all servlets -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<session-config>
		<!-- Don't timeout sessions. Timeout set in minutes. -->
		<session-timeout>0</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Servlet mappings for static files -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/html-snippets/*</url-pattern>
		<url-pattern>/js/*</url-pattern>
		<url-pattern>/img/*</url-pattern>
		<url-pattern>/lib/*</url-pattern>
		<url-pattern>/view/*</url-pattern>
	</servlet-mapping>
	<!-- Listing each static html page here is not scalable. Figure out how 
		to do this with wildcards, making sure I don't break any page. Using <url-pattern>*.html</url-pattern> 
		broke /test-module/jsp/ for some reason -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/about.html</url-pattern>
		<url-pattern>/contact-us.html</url-pattern>
		<url-pattern>/index.html</url-pattern>
		<url-pattern>/login.html</url-pattern>
		<url-pattern>/vlc-player.html</url-pattern>
		<url-pattern>/admin/index.html</url-pattern>
		<url-pattern>/admin/ehcache.html</url-pattern>
		<url-pattern>/admin/server-management.html</url-pattern>
		<url-pattern>/admin/test-apis.html</url-pattern>
		<url-pattern>/test-module/index.html</url-pattern>
		<url-pattern>/test-module/angular-1/index.html</url-pattern>
		<url-pattern>/test-module/scheduler/index.html</url-pattern>
		<url-pattern>/test-module/websocket/index.html</url-pattern>
	</servlet-mapping>
	 <!-- Listing for static error pages. -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/error/400.html</url-pattern>
    <url-pattern>/error/403.html</url-pattern>
    <url-pattern>/error/404.html</url-pattern>
    <url-pattern>/error/405.html</url-pattern>
    <url-pattern>/error/409.html</url-pattern>
    <url-pattern>/error/500.html</url-pattern>
    <url-pattern>/error/502.html</url-pattern>
    <url-pattern>/error/503.html</url-pattern>
  </servlet-mapping>
  
	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Error page definitions -->
	<error-page>
		<error-code>400</error-code>
		<location>/error/400.html</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/error/403.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/error/405.html</location>
	</error-page>

	<error-page>
		<error-code>409</error-code>
		<location>/error/409.html</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/500.html</location>
	</error-page>

	<error-page>
	  <error-code>502</error-code>
	  <location>/error/502.html</location>
	</error-page>

	<error-page>
	  <error-code>503</error-code>
	  <location>/error/503.html</location>
	</error-page>
  
	<error-page>
		<exception-type>com.nicobrest.kamehouse.commons.exception.KameHouseBadRequestException</exception-type>
		<location>/error/400.html</location>
	</error-page>

	<error-page>
		<exception-type>com.nicobrest.kamehouse.commons.exception.KameHouseConflictException</exception-type>
		<location>/error/409.html</location>
	</error-page>

	<error-page>
		<exception-type>com.nicobrest.kamehouse.commons.exception.KameHouseForbiddenException</exception-type>
		<location>/error/403.html</location>
	</error-page>

	<error-page>
		<exception-type>com.nicobrest.kamehouse.commons.exception.KameHouseInvalidCommandException</exception-type>
		<location>/error/400.html</location>
	</error-page>

	<error-page>
		<exception-type>com.nicobrest.kamehouse.commons.exception.KameHouseNotFoundException</exception-type>
		<location>/error/404.html</location>
	</error-page>

	<error-page>
		<exception-type>com.nicobrest.kamehouse.commons.exception.KameHouseServerErrorException</exception-type>
		<location>/error/500.html</location>
	</error-page>

	<error-page>
		<exception-type>org.springframework.security.core.userdetails.UsernameNotFoundException</exception-type>
		<location>/error/404.html</location>
	</error-page>
</web-app>
