.link-boxes-wrapper-m-80-60 {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .link-boxes-wrapper-m-80-60 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.link-boxes {
  text-align: center;
  margin: auto;
  width: 100%;
}

.link-box {
  width: 30%;
  padding: 10px;
  color: #7e7e7e;
  display: inline-block;
}

@media (max-width : 900px) {
  .link-boxes .link-box {
    float: none;
    text-align: center;
    width: 100%;
  }	
}

.link-boxes .link-box a {
  cursor: pointer;
}

.link-boxes .link-box a img {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}

.link-boxes .link-box a img:hover {
  transform: scale(1.1);
}

.link-boxes .link-box h3 {
  padding-left: 0px;
  font-weight: bold;
  color: #999999;
  margin-bottom: 15px;
}

.link-boxes .link-box p {
  font-weight: bold;
  color: #6e6d6d;
  min-height: 70px;
}
