.kamehouse-shell-output-table {
  width: 100%;
}

.kamehouse-shell-output {
  border: 2px solid #373737;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  color: #adadad;
}

@media (max-width : 900px) {
  .kamehouse-shell-output {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.kamehouse-shell-output-executing-wrapper {
  border: 2px solid #373737;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #0a0c0d;
  color: #adadad;
}

@media (max-width : 900px) {
  .kamehouse-shell-output-executing-wrapper {
    margin-left: 25px;
    margin-right: 25px;
  }
}
