.collapsible-kh {
  cursor: pointer;
} 

.collapsible-kh:after {
  content: '\2193';
  color: #3f3f3f;
  font-weight: bold;
  float: right;
  margin-left: 5px;
} 

.collapsible-kh-active, .collapsible-kh:hover {
  background-color: #310000; 
} 

.collapsible-kh-active:after {
  content: "\2191";
}

.collapsible-kh:focus {
  outline: none;
} 

.collapsible-kh-btn {
  background-color: #131010;
  color: #5e5e5e;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  border: 1px solid #1d1d1d;
  border-radius: 0px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-kh-content {
  color: #c0c0c0;
  font-weight: normal;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 
