
.info-boxes {
  text-align: center;
  margin: auto;
  width: 100%;
}

.info-box {
  padding: 10px;
  color: #9f9f9f;
  display: inline-block;
  vertical-align: middle;
}

.info-boxes .info-box img {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}

@media (max-width : 900px) {
  .info-boxes .info-box img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
  }	
}

.info-boxes .info-box h3 {
  padding-left: 0px;
  min-height: 50px;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width : 900px) {
  .info-boxes .info-box h3 {
    min-height: 40px;
    font-size: 18px;
  }
}

.info-boxes .info-box p {
  font-weight: bold;
  min-height: 70px;
}

@media (max-width : 900px) {
  .info-boxes .info-box p {
    font-size: 14px;
    min-height: 70px;
  }
  
}

/** 
  * Per row:
  * -4 boxes on desktop
  * -2 boxes on mobile
  */
.info-boxes-row-4-2 {
  width: 50%;
}

@media (max-width : 900px) {
  .info-boxes-row-4-2 {
    display: block;
    width: 100%;
  }	
}

.info-box-row-4-2 {
  width: 49%;
}

@media (max-width : 900px) {
  .info-box-row-4-2 {
    width: 49%;
  }	
}