.link-image-wrapper-w-40 {
  width: 40%;
}

@media (max-width : 900px) {
  .link-image-wrapper-w-40 {
    width: 100%;
  }
}

.link-image-wrapper-w-70 {
  width: 70%;
}

@media (max-width : 900px) {
  .link-image-wrapper-w-70 {
    width: 100%;
  }
}

.link-image-wrapper-w-80 {
  width: 80%;
  margin: auto;
}

@media (max-width : 900px) {
  .link-image-wrapper-w-80 {
    width: 100%;
  }
}

.link-image-wrapper-m-80-60 {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .link-image-wrapper-m-80-60 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.link-image-wrapper-m-60-50 {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width : 900px) {
  .link-image-wrapper-m-60-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.link-image-table {
  margin: auto;
  border: none;
  width: 100%;
}

.link-image-table tr {
  border: none;
}

.link-image-table tr td {
  border: none;
}

.link-image-img {
  background: transparent;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 30px;
  border: none;
}

.link-image-img:hover {
  transform: scale(1.1);
}

.link-image-img-mobile {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 30px;
}

.link-image-text {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding-right: 15px;
}

.link-image-desc {
  text-align: left;
  font-size: 15px;
  padding-top: 8px;
  padding-right: 15px;
}

/** Show image on right side on desktop */
.link-image-table-reverse {
  direction: rtl;
}

.link-image-table-reverse .link-image-text {
  direction: ltr;
  text-align: right;
}

.link-image-table-reverse .link-image-desc {
  direction: ltr;
  text-align: right;
}
