/* order of a:state is important */
/** a href begin */
a {
  color: #ea0000;
}
a:link {
  color: #ea0000;
}
a:visited {
  color: #ea0000;
}
a:hover {
  color: #4a90e2;
}
a:active {
  color: #175192;
}
/** a href end */

.btn-svg-scroll-down {
  transition: all 0.25s ease-in-out;
  transform: rotate(180deg); 
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 8px;
  border-radius: 50%;
  padding: 0.25em;
  width: 20px;
  height: 20px;
  border: 2px solid #373737;
  background-color: black;
}

.btn-svg-scroll-down svg {
  fill: #373737;
}

.btn-svg-scroll-down:hover {
  border: 3px solid #860101;
}

.btn-svg-scroll-down:hover svg {
  fill: #860101;
}

.btn-svg-scroll-up {
  transition: all 0.25s ease-in-out;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: -20px;
  border-radius: 50%;
  padding: 0.25em;
  width: 20px;
  height: 20px;
  border: 2px solid #373737;
  background-color: black;
}

.btn-svg-scroll-up svg {
  fill: #373737;
}

.btn-svg-scroll-up:hover {
  border: 3px solid #860101;
}

.btn-svg-scroll-up:hover svg {
  fill: #860101;
}

/** groot header */
#groot-header-status-wrapper {
  text-align: right;
  vertical-align: middle;
}

.groot-header-branding {
  font-size: 20px;
  color: #5a5a5a;
  padding-top: 6px;
}

@media ( max-width : 900px) {  
  .groot-header-branding {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;
    font-size: 15px;
    text-align: right;
    display: none;
  }
}  

.groot-header-highlight {
  color: #585858;
  font-weight: bold;
}

.groot-header-login-status {
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
}

@media ( max-width : 900px) {  
  .groot-header-login-status {
    text-align: right;
    padding: 0px;
    padding-top: 0px;
    padding-left: 5px;
  }
}  

.groot-header-login-status-text {
  font-weight: bold;
  font-size: 18px;
	padding-left: 10px;
  padding-right: 10px;
  color: #585858;
}

@media ( max-width : 900px) {  
  .groot-header-login-status-text {
    margin-top: 5px;
    font-size: 18px;
    height: 22px;
  }
}

.groot-header-login-status-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .groot-header-login-status-btn {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 3px;
    width: 22px;
    height: 22px;
    transform: scale(1);
  }
}

/** desktop query */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .groot-header-login-status-btn:hover {
    transform: scale(1.2);
  }
}

#groot-menu-wrapper {
  display: block;
}

.groot-menu {
  overflow: hidden;
}

.groot-menu-table {
  width: 100%;
}

.groot-menu button {
  background: #000000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  width: 100px;
}

@media (max-width : 900px) {
  .groot-menu button {
    width: 60px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.groot-menu button:hover {
  background-color: #310000;
  color: black;
}

.groot-menu button.active {
  background-color: #272727;
  color: #000000;
}

.groot-menu-img {
  width: 30px;
  height: 30px;  
}

@media (max-width : 900px) {
  .groot-menu-img {
    width: 20px;
    height: 20px; 
  }
}

.groot-nav-wrapper {
  background-color: #000000;
  overflow: hidden;
  border-bottom: #353535 3px solid;
}

@media ( max-width : 900px) {
  .groot-nav-wrapper {
    border-bottom: #191919 2px solid;
  }
}  
