/* order of a:state is important */
/** a href begin */
a {
  color: #ea0000;
}
a:link {
  color: #ea0000;
}
a:visited {
  color: #ea0000;
}
a:hover {
  color: #4a90e2;
}
a:active {
  color: #175192;
}
/** a href end */

.btn-svg-scroll-down {
  transition: all 0.25s ease-in-out;
  transform: rotate(180deg); 
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 8px;
  border-radius: 50%;
  padding: 0.25em;
  width: 20px;
  height: 20px;
  border: 2px solid #373737;
  background-color: black;
}

.btn-svg-scroll-down svg {
  fill: #373737;
}

.btn-svg-scroll-down:hover {
  border: 3px solid #860101;
}

.btn-svg-scroll-down:hover svg {
  fill: #860101;
}

.btn-svg-scroll-up {
  transition: all 0.25s ease-in-out;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: -20px;
  border-radius: 50%;
  padding: 0.25em;
  width: 20px;
  height: 20px;
  border: 2px solid #373737;
  background-color: black;
}

.btn-svg-scroll-up svg {
  fill: #373737;
}

.btn-svg-scroll-up:hover {
  border: 3px solid #860101;
}

.btn-svg-scroll-up:hover svg {
  fill: #860101;
}

/** groot header */
#groot-menu-wrapper {
  display: block;
}

#groot-header-login-status-desktop {
  display: block;
}

@media ( max-width : 900px) {  
  #groot-header-login-status-desktop {
    display: none;
  } 
}

#groot-header-login-status-mobile {
  display: none;
}

@media ( max-width : 900px) {  
  #groot-header-login-status-mobile {
    display: block;
    margin-top: 5px;
  } 
}

.groot-header-db-img {
  height: 25px;
  width: 25px;
  margin-top: 6px;
  margin-left: 30px;
  margin-right: 10px;
  filter: brightness(0.3);
  float: left;
}

.groot-header-branding {
  float: right;
  font-size: 20px;
  color: #5a5a5a;
  padding-top: 6px;
}

@media ( max-width : 900px) {  
  .groot-header-branding {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;
    font-size: 15px;
    text-align: right;
    display: inline;
  }
}  

.groot-header-highlight {
  color: #585858;
  font-weight: bold;
}

.groot-header-login-status {
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  float: right;
}

@media ( max-width : 900px) {  
  .groot-header-login-status {
    float: right;
    text-align: right;
    padding: 0px;
    padding-top: 0px;
    padding-left: 5px;
  }
}  

.groot-header-login-status-text {
  font-size: 18px;
	padding-left: 10px;
  padding-right: 10px;
  color: #585858;
}

@media ( max-width : 900px) {  
  .groot-header-login-status-text {
    font-size: 18px;
    height: 22px;
  }
}

.groot-header-login-status-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transform: scale(0.9);
}

@media (max-width : 900px) {
  .groot-header-login-status-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 22px;
    height: 22px;
    transform: scale(1);
  }
}

/** desktop query */
@media (min-width : 900px) {

  /** This css affects desktop, not mobile! */
  .groot-header-login-status-btn:hover {
    transform: scale(1.2);
  }
}

#groot-header-bottom-wrapper {
  background-color: #000000;
  display: none;
  overflow: none;
}

@media ( max-width : 900px) {	 
  #groot-header-bottom-wrapper {
    display: block;
    padding: 3px;
    width: 100%;
  }
}  

@media ( max-width : 900px) {
  #groot-header-bottom {
    display: block;
    overflow: hidden;
  }
}  

/** GRoot menu nav begin */
.groot-nav {
  overflow: hidden;
}

.groot-nav-wrapper {
  background-color: #000000;
  overflow: hidden;
  border-bottom: #353535 3px solid;
}

@media ( max-width : 900px) {
  .groot-nav-wrapper {
    border-bottom: #191919 2px solid;
  }
}  

.groot-nav a {
  float: left;
  display: block;
  color: #969696;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
}

.groot-nav a.active {
  background-color: #222222;
  color: #8e8e8e;
}

.groot-nav a:hover {
  background-color: #424242;
  color: #8e8e8e;
}

.groot-nav .icon {
  display: none;
}

.groot-nav .highlight {
  color: #575757;
  font-weight: bold;
}
/** groot menu nav end */
