.dragonball-users-edit-form {
  margin-left: 30px;
  margin-right: 30px;
}

.dragonball-user-form-buttons {
  margin-left: 15px;
}

.table-dragonball-users { 
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
}

@media (max-width: 900px) {
	.table-dragonball-users {
	  display: block;
	}
}

.table-dragonball-users tr td:nth-child(7) form {
  display: inline; /** Display edit and delete buttons next to each other */
}

