.dev-branch-status-wrapper {
  padding: 20px;
}

.dev-branch-status-wrapper h4 {
  padding: 20px;
}

.table-dev-branch-status {
  width: 70%;
  margin: auto;
}

@media ( max-width : 900px) {
  .table-dev-branch-status {
    width: 100%;
  }
}

.table-dev-branch-status,
.table-dev-branch-status tr,
.table-dev-branch-status thead th,
.table-dev-branch-status td {
  border: 2px solid #000000;
}
