#contact-us-newsletter-wrapper {
	margin-top: 90px;
}

@media ( max-width : 900px) {
	#contact-us-newsletter-wrapper {
	  margin-top: 10px;
	}
}

.submit-btn {
  text-align: center;
  outline: none;
  padding: 5px 20px 5px 20px;
  line-height:1.5;
  color: #6b6b6b;
  font-weight: bold;
  background-color: #1a1a1a;
  background-image: none;
  border: 1px solid #383838;
  width: 105px;
  cursor: pointer;
}

.submit-btn:hover {
  color: #969696;
  background: #4d0000;
}

@media (max-width : 900px) {
  .submit-btn {
    width:100%;
  }
}