.disclaimer {
  font-weight: bold;
}

.disclaimer-warning {
  padding: 20px;
  color: #969696;
}

#kamehouse-mobile-sample-section {
  float: left;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

@media ( max-width : 900px) {
  #kamehouse-mobile-sample-section {
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
  }
}

#kamehouse-mobile-links-section {
  float: right;
  text-align: center;
  width: 50%;
  margin-top: 20px;
  min-height: 500px;
}

@media ( max-width : 900px) {
	#kamehouse-mobile-links-section {
    float: none;
    text-align: center;
    width: 100%;
    min-height: 420px;
    margin-top: 0px;
  }
}

.mobile-app-icon {
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
}

@media ( max-width : 900px) {
  .mobile-app-icon {
    height: 30px;
    width: 30px;
  }
}

.mobile-app-link {
  display: block; 
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 330px;
  padding: 6px;
  font-size: 22px;
}

@media ( max-width : 900px) {
	.mobile-app-link {
    width: 300px;
  }
}

.mobile-app-link:link {
  background-color: #000000;
  border: 1px solid #4b4b4b;
  color: #969696;
  text-decoration: none;
}

@media ( max-width : 900px) {
	.mobile-app-link:link {
    margin-top: 0px;
    font-size: 18px;
  }
}

.mobile-app-link.active {
  background-color: #500000;
  color: #cccccc;
  text-decoration: none;
}

.mobile-app-link:hover {
  background-color: #500000;
  color: #dbdbdb;
  border: 1px solid #4b4b4b;
  text-decoration: none;
}

.mobile-app-link:visited { 
  text-decoration: none; 
}

.mobile-app-link-text {
  padding-right: 20px;
  font-weight: bold;
}

.mobile-href-link {
  color: #d2d2d2;
  text-decoration: none;
}

.mobile-href-link:visited { 
  color: #d2d2d2;
  text-decoration: none; 
}

.mobile-href-link:hover {
  color: #9e0202;
  text-decoration: none;
}
