.android-app-qrcode {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px solid #FFFFFF;
  width: 256px;
  height: 256px;
}

@media (max-width : 900px) {
  .android-app-qrcode {
    margin-top: 60px;
  }
}

.android-image-info-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .android-image-info-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.android-slideshow-img {
  border: 10px solid #1e1e1e;
}

@media ( max-width : 900px) {
  .android-app-qrcode {
    margin-top: 40px;
  }
}

.disclaimer {
  font-weight: bold;
}

.disclaimer-warning {
  padding: 20px;
  color: #969696;
}

#kamehouse-mobile-sample-section {
  float: left;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

@media ( max-width : 900px) {
  #kamehouse-mobile-sample-section {
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
  }
}

#kamehouse-mobile-links-section {
  float: right;
  text-align: center;
  width: 50%;
  margin-top: 20px;
  min-height: 500px;
}

@media ( max-width : 900px) {
	#kamehouse-mobile-links-section {
    float: none;
    text-align: center;
    width: 100%;
    min-height: 420px;
    margin-top: 0px;
  }
}

.mobile-app-btn {
  height: 70px;
  width: 255px;
}

.mobile-app-btn:hover {
  transform: scale(1.1);
}

@media (max-width : 900px) {
  .mobile-app-btn {
    margin-top: 20px;
  }
}

.mobile-href-link {
  color: #d2d2d2;
  text-decoration: none;
}

.mobile-href-link:visited { 
  color: #d2d2d2;
  text-decoration: none; 
}

.mobile-href-link:hover {
  color: #9e0202;
  text-decoration: none;
}
