.external-links-1-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .external-links-1-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.external-links-2-wrapper {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 70%;
}

@media (max-width : 900px) {
  .external-links-2-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
  }
}

.kamehouse-functionality-info-boxes-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .kamehouse-functionality-info-boxes-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.kamehouse-functionality-list-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .kamehouse-functionality-list-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.kamehouse-functionality-list-wrapper h4 {
  margin-bottom: 30px;
}

.link-image-table-wrapper-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .link-image-table-wrapper-80 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.main-link-boxes-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .main-link-boxes-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.whats-kamehouse-image-info-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width : 900px) {
  .whats-kamehouse-image-info-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
