.admin-cmds-section {
  width: 55%;
  padding: 10px;
  margin-top: 10px;
}

@media (max-width : 900px) {
  .admin-cmds-section {
    width: 100%;
    padding: 7px;
  }
}

#audio-controls {
  margin-top: 50px;
  margin-bottom: 25px;
}

#audio-controls #volume-slider-wrapper {
  display: inline;
}

#audio-controls #volume-slider {
  -webkit-appearance: none;
  height: 6px;
  width: 100%;
  background: #505050;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
}

@media (max-width : 900px) {
  #audio-controls #volume-slider {
    width: 100%;
  }
}

#audio-controls #volume-slider:hover {
  opacity: 1;
}

/** ::-webkit-slider-thumb for Chrome */
#audio-controls #volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-color: #696969;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  background: #141414;
  cursor: pointer;
}

/** ::-moz-range-thumb and ::-moz-range-progress for Firefox */
#audio-controls #volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-color: #141414;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  background: #141414;
  cursor: pointer;
}

#audio-controls #volume-slider::-moz-range-progress {
  width: 20px;
  height: 20px;
  background: #343434;
}


#audio-controls #current-volume {
  display: inline-block;
  min-width: 50px;
}

.btn-audio {
  margin-left: 5px;
  margin-right: 5px;
  transform: scale(0.8);
}

@media (max-width : 900px) {
  .btn-audio {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.btn-img {
  width: 21px;
  height: 21px;
  margin-bottom: 3px;
  cursor: pointer;
}

.btn-load-playlist {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width : 900px) {
  .btn-load-playlist {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.btn-mute-pressed {
  transform: scale(0.68);
  filter: brightness(0.6);
}

.btn-mute-unpressed {
  transform: scale(0.7);
  filter: brightness(1);
}

.btn-playlist-controls {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width : 900px) {
  .btn-playlist-controls {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.media-btn-pressed {
  transform: scale(0.9);
  filter: brightness(0.6);
}

.media-btn-unpressed {
  transform: scale(1);
  filter: brightness(1);
}

#media-buttons {
  padding-top: 10px;
}

#media-flow-buttons {
  margin-top: 50px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  #media-flow-buttons {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.media-flow-button {
  width: 30px !important;
  height: 30px !important;
}

#media-info {
  background-color: #101010;
  border: 1px solid #292929; 
}

#media-play-control-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  #media-play-control-buttons {
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

#media-screen-ctrl-buttons td {
  width: 25%;
}

.media-screen-ctrl-button {
  width: 32px !important;
  height: 32px !important;
}

#media-title {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#media-time {
  padding-bottom: 10px;
}

#media-time #time-slider-wrapper {
  display: inline;
}

#media-time table {
  width: 100%;
}

#media-time #time-slider {
  -webkit-appearance: none;
  height: 20px;
  width: 100%;
  background: #363636;
  outline: none;
  opacity: 0.4;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: block;
}

#media-time #time-slider:hover {
  opacity: 1;
}

#media-time #time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-color: #424242;
  border-style: solid;
  border-width: 1px;
  background: #141414;
  cursor: pointer;
}

#media-time #time-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-color: #141414;
  border-style: solid;
  border-width: 10px;
  background: #141414;
  cursor: pointer;
}

#media-time #time-slider::-moz-range-progress {
  width: 25px;
  height: 25px;
  background: #343434;
}

#media-time #current-time {
  display: inline-block;
  padding-left: 5px;
}

#media-time #total-time {
  display: inline-block;
  padding-right: 5px;
}

/** Playlist browser */
@media(max-width: 900px) {
  .playlist-browser-ctrl-btns-wrapper {
    min-width: 125px;
  }
}

.playlist-browser-table-btn {
  font-weight: 400;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #4a90e2;
  text-decoration: none;
}

.playlist-browser-table-btn:hover {
  background-color: #3f7cc2;
  color: #000000;
}

/** playlist-browser-table Set scrollbar style FIREFOX */
#playlist-browser-table-wrapper {
  scrollbar-color: #4a90e2 #060606 !important;
  scrollbar-width: thin !important;
}

/** playlist-browser-table Set scrollbar style CHROME */
#playlist-browser-table-wrapper::-webkit-scrollbar {
  width: 7px;
}

@media(max-width: 900px) {
  #playlist-browser-table-wrapper::-webkit-scrollbar {
    width: 2px;
  }
}

#playlist-browser-table-wrapper::-webkit-scrollbar-track {
  background: #060606;
}

#playlist-browser-table-wrapper::-webkit-scrollbar-thumb {
  background: #4a90e2;
}

#playlist-browser-table-wrapper::-webkit-scrollbar-corner {
  background: #060606;
}

.playlist-browser-dropdowns-wrapper {
  border: 1px solid #292929;
  width: 65%;
  margin: auto;
}

@media (max-width: 900px) {
  .playlist-browser-dropdowns-wrapper {
    width: 100%;
  }
}

.playlist-browser-wrapper {
  border: 1px solid #292929;
  width: 65%;
  margin: auto;
}

@media (max-width: 900px) {
  .playlist-browser-wrapper {
    width: 100%;
  }
}

/** Playlist tab begin.*/
.playlist-tab-content-wrapper {
  border: 1px solid #292929;
  width: 65%;
  margin: auto;
}

@media (max-width: 900px) {
  .playlist-tab-content-wrapper {
    width: 100%;
  }
}

/** Playlist control begin.*/
.playlist-controls-table { 
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .playlist-controls-table {
    display: block;
  }
}

#playlist-controls-filter-input-td {
  width: 70%;
}

@media (max-width: 900px) {
  #playlist-controls-filter-input-td {
    width: 45%;
  }
}

/** Playlist begin.*/
.playlist-table-btn {
  font-weight: 400;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fa314a;
  text-decoration: none;
}

.playlist-table-btn:hover {
  background-color: #fa0925;
  color: #c0c0c0;
}

.playlist-table-btn.active {
  background-color: #9d0000;
  color: black;
}

.playlist-table {
  color: #868686;
  width: 100%;
}

@media (max-width: 900px) {
  .playlist-table {
    display: block;
  }
}

.playlist-wrapper {
  padding: 10px;
  max-height: 500px;
  overflow: scroll;
}

@media (max-width: 900px) {
  .playlist-wrapper {
    max-height: 380px;
    overflow: scroll;
  }
}

/** Playlist selector dropdowns begin */
#playlist-selector {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#playlist-category-dropdown {
  min-width: 300px;
  margin-right: 5px;
}

@media (max-width: 900px) {
  #playlist-category-dropdown {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }
}

#playlist-dropdown {
  min-width: 260px;
  margin-right: 5px;
}

@media (max-width: 900px) {
  #playlist-dropdown {
    min-width: 300px;
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.playlist-size-wrapper {
  text-align: right;
  color: #505050;
  font-weight: bold;
  margin: 10px 25px 15px 25px;
}

.playlist-browser-size-wrapper {
  text-align: right;
  color: #505050;
  font-weight: bold;
  margin: 10px 25px 15px 25px;
}

.subtitle-config-label {
  color: #5a5a5a;
  font-weight: bold;
  margin-right: 15px;
}

.subtitle-delay {
  color: #5a5a5a;
  font-weight: bold;
}

/** Playlist selector dropdowns end */

.table-mplayer-btns-kh {
  text-align: center;
  margin: auto;
  width: 100%;
}

@media (max-width : 900px) {
  .table-mplayer-btns-kh {
    width: 100%;
    text-align: center;
  }
}

@media (max-width : 900px) {
  .vlc-debug-img-btn {
    width: 40px;
    height: 40px;
  }
}

.vlc-player {
  text-align: center;
}

.vlc-player-config-wrapper {
  padding-top: 7px;
  padding-bottom: 25px;
  border: 1px solid #292929;
  width: 65%;
}

@media (max-width : 900px) {
  .vlc-player-config-wrapper {
    width: 100%;
  }
}

.vlc-player-config-section-header {
  color: #5a5a5a;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 0px 30px 15px;
  width: 100%;
}

@media (max-width : 900px) {
  .vlc-player-config-section-header {
    font-size: 18px;
  }
}

#vlc-player-main {
  border: 1px solid #292929;
  color: #969696;
  width: 65%;
  padding: 10px;
  margin: auto;
}

@media (max-width : 900px) {
  #vlc-player-main {
    width: 100%;
    text-align: center;
  }
}

.vlc-player-select {
  border: 1px solid #292929;
  font-size: 18px;
  color: #868686;
  background: #101010;
  outline: none;
}

@media (max-width : 900px) {
  .vlc-player-select {
    font-size: 15px;
  }
}

.vlc-player-select:hover {
  border: 1px solid #292929;
  background: #1d1d1d;
}

/* tabs */
.vlc-player-tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.vlc-player-tabs {
  overflow: hidden;
  border-bottom: #272727 2px solid;
  margin-bottom: 20px;
}

.vlc-player-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  color: #c0c0c0;
  text-align: center;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}
@media (max-width : 900px) {
  .vlc-player-tabs button {
     padding-right: 40px;
     padding-left: 40px;
     padding-top: 10px;
     padding-bottom: 10px;
  }
}

.vlc-player-tab-img {
  height: 25px;
  width: 25px;
}
.vlc-player-tabs button:hover {
  background-color: #680c0c;
}

.vlc-player-tabs button.active {
  background-color: #520303;
}
